@import 'styles.scss';

.date_inputs_container {
    // margin: 2rem 0;
    display: flex;
    flex-direction: column;

    .date_input {
        height: 1.5rem;
        display: flex;
        border-radius: 3px;
        max-width: fit-content;
        background: $primary-main url('../../../../../../assets/images/icons/calendar_icon.png');
        color: black;
    }

    input[type="date"] {
        background: $gray_30 url('../../../../../../assets/images/icons/calendar_icon.png');   
        background-size: 20px;
        color: white;
        background-repeat: no-repeat;
        background-position: 95%;
        padding-left: 0.5rem;
    }


    // input[type="date"]
    ::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

}