<main class="product_details_container">
    <!-- <app-breadcrumb class="app-breadcrumb" text="home > products"></app-breadcrumb> -->
    @if(this.product){
    <div class="mobile_display">
        <h3 class="product_name">
            {{product.title}}
        </h3>

        <div class="imgs_carousel_container">
            <p-carousel [value]="product.photos || []" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template let-photo pTemplate="item">
                    <div class="main_img_container">
                        <img [src]="photo " alt="product image">
                    </div>
                </ng-template>
            </p-carousel>
        </div>

        <p class="product_price"> {{product.price | customCurrency}}</p>
        <div class="stock_available_container">
            <p class="stock_available">stock disponible</p>
            <p class="stock_available_quantity">cantidad: <span class="quantity_number">{{product.viewStock}}>
                    class="stock_available_quantity_text">(+50 disponibles)</span></p>
        </div>
        <div class="add_to_cart_button_container">
            @if(product !== undefined){
            <button class="primary_button add_to_cart_button" (click)="addToCart(product)">Agrega al carrito</button>
            <button class="tertiary_button ">Agrega a favoritos</button>
            }
        </div>
    
    
        <div class="description_container">
            <h2>Descripción del producto</h2>
            <p>{{product.description}}</p>
            <app-features-table [fieldJSON]="product.fieldsJSON"></app-features-table>
        </div>

    
    
    </div>


    <!-- DESKTOP VIEW -->

    <div class="desktop_display">
        <picture class="desktop_img_container">
            <div class="side_imgs_container">
                @for (img of product.photos.slice(0, 5); track $index) {
                @if (img!= this.mainImage()) {
                <div class="side_img_div_container" (click)="changeMainImage(img)">
                    <img [src]="img " alt="Imagen del producto">
                </div>
                }
                }
            </div>
            <div class="main_img_container" ngClass="{{this.product.photos.length<2 ? 'there_is_only_one_img' : ''}}">
                <img [src]="this.mainImage()" alt="imagen del producto">
            </div>
            <div class="main_details_container">
                <h2>
                    {{product.title}}
                </h2>
                <!-- <p>procesadores > Procedadores AMD</p> -->

                <h2 class="product_price">{{product.price | customCurrency}}</h2>

                <div class="reasons_to_buy_div"><mat-icon>check</mat-icon> Stock disponble</div>
                <div class="reasons_to_buy_div"><mat-icon>local_shipping</mat-icon> Envio a todo el pais</div>
                <div class="reasons_to_buy_div"><mat-icon>shield</mat-icon>Garantia Oficial</div>

                @if(product){
                <div class="add_to_cart_button_container">
                    <button class="primary_button add_to_cart_button" (click)="addToCart(product)">Agrega al
                        carrito</button>
                    <!-- TODO: Modal para avisar que fue crado un producto -->
                    <button class="tertiary_button ">Agrega a favoritos</button>
                </div>
                }
            </div>
        </picture>

        <div class="description_container">
            <h2>Descripción del producto</h2>
            <p>{{product.description}}</p>
            <app-features-table [fieldJSON]="product.fieldsJSON"></app-features-table>
        </div>

    </div>
    }



</main>
<section class="similar_products_section_background">
    <div class="similar_products_section_container">
        <div class="similar_products_section_elements">
            <h2 class="similar_products_section_title">
                Productos que te pueden interesar
            </h2>
            <app-bk-carousel></app-bk-carousel>
        </div>
    </div>
</section>
<app-footer></app-footer>