@import '../../../../media-queries';
@import '../../../../styles.scss';

.product_details_container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $background;
    color: white;
    padding: 0 5%;

    @include tablet{
        padding: 0 10%;
    }
    @include laptop{
        padding:0 5%;
    }

    .app-breadcrumb {
        width: 100%;
    }

    


    .mobile_display{
        @include laptop{
            display: none;
        }
    }

    .product_name {
        width: 100%;
        padding: 1rem 2rem;
    }

    .product_price,
    .stock_available_container {
        width: 100%;
    }

    .product_price {
        font-weight: bold;
        color: $money;
    }

    .stock_available_quantity {
        background-color: $acromatic-100;
        color: black;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        width:fit-content;

        .quantity_number {
            font-weight: bold;
        }

        .stock_available_quantity_text {
            margin-left: 1rem;
            color: $acromatic-400;
        }
    }

    .add_to_cart_button_container{
        width: 100%;
        margin-bottom: 3rem;
        // background-color: cadetblue;
        .add_to_cart_button{
            margin-right: auto;
            display: block;
            margin-bottom: 1rem;
        }
    }


    .main_img_container {
        filter: $filter_background_for_products;
        border-radius: 10px;
        // height: 575px;
        height: 100%;
        width: 100%;
        background-image:linear-gradient(to bottom, rgba(235, 179, 49, 0.6) 0%, transparent 100%);    
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    
}

:host ::ng-deep {
    .product_details_container{
        p-carousel.p-element {
            width: min(100%, 1440px);
        }
    
        .p-carousel-container{
            min-height: 300px ;
        }
    
        ol,
        ul {
            padding: 0;
        }
    
        // Arrow icons Container
        .p-carousel .p-carousel-content .p-carousel-prev,
        .p-carousel .p-carousel-content .p-carousel-next {
            width: 5%;
            padding: 0 1rem;
            background-color: $background;
    
            @include tablet {
                padding: 0 2rem;
            }
        }
    
    
        // Arrow icons
        .carousel-prev-icon {
            width: 60px;
            height: 160px;
            color: $primary-main;
            transition: color 0.3s ease;
    
        }
    
    
        .carousel-prev-icon:hover {
            color: $primary-l1;
        }
    
    
        //no recuerdo
        .p-carousel-indicators {
            margin-top: 0.5rem;
            display: flex;
            width: 100%;
    
            @include tablet {
                margin-top: 1.5rem;
            }
        }
    
        //// bottom circles 
        .p-link {
            border-radius: 50px;
            width: 8px;
            margin: 0 0.2rem;
        }
    
        // bottom circles selected
        .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
            background-color: $primary-main;
        }
    }
    

}


.desktop_display{
    display: none;
    @include laptop{
        display: flex;
        flex-direction: column;
    }
}
.desktop_img_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto; 
    // background-color: aqua;

    @include desktop{
        grid-template-rows: auto; 
    }

    .side_imgs_container{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 0;
        grid-row-end: 1;
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        @include desktop{
            grid-row: 0 / span 1;
        }
        
        .side_img_div_container{

            border: 2px solid red;
            cursor: pointer;
            height: 113px;
            width: 113px;
            border-radius: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .main_img_container{
        grid-column-start: 3;
        grid-column-end: 13;
        grid-row-start: 0;
        grid-row-end: 1;
        // background-color: red;
        
        @media screen and (min-width : 500px) {
            height: 400px;
        }

        @include desktop{
            grid-column: 3 / span 5;
            grid-row: 0 / span 1;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .main_details_container{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;

        h2{
            margin-top: 2rem;
        }
        

        @include desktop{
            grid-column: 8  / 13;
            grid-row: -3 / span 1; 
            padding-left: 3rem;
        }

        .reasons_to_buy_div{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 1rem;
            font-size: 0.9rem;

            mat-icon{
                color: $primary-main;
            }

        }
    }
}


.similar_products_section_background{
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(25, 25, 25) 0%, transparent 100%);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.similar_products_section_container{
    max-width: 1440px;
    margin: auto;

    
    .similar_products_section_elements{
        width: 100%;
        
        @media screen and (min-width:380px) {
            padding: 0 10%;
        
        }

        
        .similar_products_section_title{
            text-align: center;
            margin-bottom: 1rem;
            color: $primary-main;
        }
    }

    

}