<main class="choice_delivery_method_main_container">

    <div class="form_container">
        <section class="delivery_method_container">
            <h2>Elegí la forma de entrega</h2>

            <form class="form" [formGroup]="this.form" (submit)="send($event)">
                <label class="choice_container">
                    <h3><input type="radio" formControlName="deliveryMethod" value="home_delivery"
                            (change)="onDeliveryMethodChange('home_delivery')">Envío a domicilio
                    </h3>
                    @if(this.addressFillOutByUser){
                    <div>{{this.addressFillOutByUser.streetName}},
                        {{this.addressFillOutByUser.streetNumber}}</div>
                    <div>{{this.addressFillOutByUser.city}},
                        {{this.addressFillOutByUser.province}} </div>

                    <div class="divider"></div>

                    <b class="delivery_method_title_alternative" (click)="openAddressForm()">Elegir otro domicilio</b>
                    }

                </label>

                <label class="choice_container">

                    <h3> <input type="radio" formControlName="deliveryMethod" value="in_local"
                            (change)="onDeliveryMethodChange('in_local')">Retiro en el Local
                    </h3>
                </label>
                <div class="submit_button_container">
                    <div class="primary_button_container" [ngStyle]="{'display' : this.showMPButton ? 'none' : 'flex'}" >
                        <button class="primary_button" #primaryButton
                            [ngClass]="{'primary_button_disabled' : disabledFormButton(this.form) || this.isDisabledButton}"
                            [disabled]="disabledFormButton(this.form) || this.isDisabledButton"
                            type="submit">Continuar</button>
                    </div>
                    @if(this.isLoadingRequest){
                        <div class="spinner_container">
                            <mat-spinner [diameter]="40"  strokeWidth="7"></mat-spinner>
                        </div>
                    }
                    <div [ngClass]="[isLoadingRequest ? 'wallet_not_displayed' : '' , 
                                    this.showMPButton  ? 'wallet_displayed' : 'wallet_not_displayed'] " >
                        <div id="wallet-container"></div>
                    </div>

                </div>

            </form>

        </section>

        <section class="purchase_summary_container">
            <h2 class="purchase_summary_title">
                Resumen de compra
            </h2>
            <div class="divider"></div>
            <div class="purchase_summary_content_element">
                <div>
                    Productos({{this.cartQuantity$}})
                </div>
                <div>
                    {{this.total$ | customCurrency}}
                </div>
            </div>
            @if(shipping){
            <div class="purchase_summary_content_element">
                <div>
                    Envío:
                </div>
                <div>
                    {{this.shipping | customCurrency}}
                </div>
            </div>}
            <div class="purchase_summary_content_element">
                <div>
                    Pagás
                </div>
                <div>
                    {{this.total$ | customCurrency}}
                </div>
            </div>
        </section>
    </div>

    @if (showErrorPopUp) {
        <app-message-pop-up custom_message='{{errorMessage}}'
            (close)="closeModal('purchaseFailed')">
        </app-message-pop-up>
        }

    @if(showFillAddressPopUp){
    <app-fill-address-pop-up 
        (formFilledEvent)="receiveAddressFromForm($event)"
        (close)="this.closeModal('showFillAddressPopUp')"
        [address]="this.addressFillOutByUser"></app-fill-address-pop-up>
    }
</main>
<app-footer></app-footer>