<div class="search_input_component_container" >
      <p-floatLabel>
         <p-autoComplete 
             [(ngModel)]="inputText" 
             [suggestions]="suggestions"
             [emptyMessage]="'No se encontraron resultados'"
             (completeMethod)="search($event)" 
             (onSelect)="send($event)"
             inputId="float-label" 
             (onClear)="onClear()"
             (onKeyUp)="onKeyUp($event)"
             [panelStyleClass]="this.isDropdownHidden() ? 'hide' : 'show'"
           /> 
         <label class="float-label" for="float-label" >Buscar productos</label>
     </p-floatLabel>
  </div>
      
  <div>

    
  
    
  </div>