@import '@shared/styles/search_bar.scss';


::ng-deep {
    .p-autocomplete {
        width: 250px;
    }

    .p-inputtext {
        background-color: #b8b8b8; 
        color: white; 
        border: 1px solid #ccc;
        padding: 10px; 
        display: flex;
        margin: none;
    }

    .custom-panel-style{


        width: 300px;
        @include tablet{
            width: 400px;
        }

        @include laptop{
            width: 500px;
        }
        @include desktop{
            width: 700px;
        }

    }
}

.search_input_component_container{
    .float-label{
        color: white;
        margin: 0;
        transform: translate(0, -50%);
    

        &.focused{
            transform: translate(-10px, -50%);
        }
    }

    
}



.searchBarInputText{
    color: #000 !important;
}
.searchBarInputText{
    color: #000 !important;
}

