<div class="search_input_component_container" >
      <p-floatLabel>
         <p-autoComplete 
             [(ngModel)]="inputText" 
             [suggestions]="suggestions"
             [emptyMessage]="'No se encontraron resultados'"
             (completeMethod)="search($event)" 
             (onSelect)="send($event)"
             inputId="float-label" 
             (onClear)="onClear()"
             (onKeyUp)="onKeyUp($event)"
             (onFocus)="onFocus()"
             (onBlur)="onBlur()"
             [panelStyle]="isDropdownHidden() ? { 'display': 'none' } : { 'display': 'block' }"
             [panelStyleClass]="'custom-panel-style'"
           /> 
         <label class="float-label" [ngClass]="{'focused': inputHasFocus}" for="float-label">{{this.placeHolderValue}}</label>
     </p-floatLabel>
  </div>
      
  <div>

    
  
    
  </div>