<main class="purchase-details-main-container" style="color: white;">
    @if(this.purchase){
    
    <section class="admin_panel_table_main_container" >
        <h1>Detalles de la compra</h1> 

        <table class="w-100">
            <thead>
                <tr>
                    <td class="col-4" >
                        Comprador
                    </td>
                    <td class="col-2" >
                        Total de la venta
                    </td>
                    <td class="col-2" >
                        Envío
                    </td>
                    <td class="col-2" >
                        Nro de Orden 
                    </td>
                    <td class="col-2" >
                        Estado del Envío
                    </td>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td class="truncate">
                        <span > {{ this.purchase.fullname }}</span>
                    </td>
                    <td>
                        <span> {{ this.purchase.totalAmount | customCurrency }}</span>
                    </td>
                    <td>
                        @if(this.purchase.shipment){ {{this.purchase.shipment}}}@else{<span>"No tiene"</span>}
                    </td>
                    <td>
                        @if(this.purchase.merchantOrder){
                            {{this.purchase.merchantOrder}}}@else{<span>"No tiene"</span>}
                    </td>
                    <td class="d-flex align-items-center align-self-center ">
                        <select name="" id="">
                            @if(this.purchase.paymentStatus){
                                <option value="this.purchase.paymentStatus">{{this.purchase.paymentStatus}}</option>
                            }@else {
                                <option value="">No tiene</option>    
                            }
                            <option value="">Pendiente</option>
                            <option value="">Completado</option>
                        </select>
                        <div >
                            <button class="update_shipment_button d-flex justify-content-center align-items-center"> <mat-icon>send</mat-icon> </button>
                        </div>
                        <!-- @if(this.purchase.paymentStatus){ {{this.purchase.paymentStatus}}}
                        @else{<span>"No tiene"</span>} -->
                    </td>
                </tr>
                
            </tbody>
        </table>

        

        <!-- <pre>{{this.purchase.shipment | json}}</pre> -->

        <h2 class="products_title">Productos comprados:</h2>
        <table>
            <thead>
                <tr>
                    <td class="col-2 ">
                        Marca
                    </td>
                    <td class="col-2 ">
                        Modelo
                    </td>
                    <td class="col-2 ">
                        precio unitario
                    </td>
                    <td class="col-1 ">
                        cantidad
                    </td>
                    <td class="col-1 ">
                        subtotal
                    </td>
                </tr>
            </thead>
            <tbody>
                @for(product of purchase.products ; track $index){
                <tr>
                    <td>
                        {{product.brand}}
                    </td>
                    <td>
                        {{product.model}}
                    </td>
                    <td>
                        {{product.price | customCurrency}}
                    </td>
                    <td>
                        {{product.quantity}}
                    </td>
                    <td>
                        {{product.subtotal | customCurrency}}
                    </td>
                </tr>
                }

                <tr class="total_row">
                    <td  colspan="4">Total de la venta: </td>
                    <td colspan="1">{{this.purchase.totalAmount |  customCurrency}}</td>
                </tr>
            </tbody>
        </table>

        <!-- <table class="table w-100">
            <thead>
                <tr>
                    <td class="col-4">Marca</td>
                    <td class="col-1">Modelo</td>
                    <td class="col-1">Precio Unitario</td>
                    <td class="col-1">Cantidad</td>
                    <td class="col-2">Subtotal</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> -->

        @if(true){
            <div class="button_container d-flex justify-content-end mt-4">
                <button type="button" class="primary_button" (click)="finalizePurchase()">Finalizar compra</button>
            </div>
        }

    </section>

    }@else {
    <section>
        <app-input-danger-text text="Producto no encontrado"></app-input-danger-text>
    </section>
    }

</main>