@import 'styles.scss';
@import '_media-queries.scss';

.top_details_container{
    display: flex;
    gap: 1rem;
    padding: 0 10%;
    // justify-content: space-around;
}

h1 , h2{
    @include gradient-text;
}

.products_title{
    margin-top: 1rem;
}

.purchase-details-main-container .admin_panel_table_main_container{
    padding-top: 2rem;
    .total_row{
        background: $gray_15;
        font-weight: 500;
    }
}

.admin_panel_table_main_container{
    position: relative;

    select {
        background-color: #707070; /* Fondo del select */
        color: #fffdfd; /* Color del texto */
        border: 1px solid #4f4f4f; /* Borde del select */
        padding: 5px; /* Espaciado interno */
        font-size: 16px; /* Tamaño de la fuente */
        border-radius: 5px; /* Bordes redondeados */
    }
    
    select option {
        background-color: #707070; /* Fondo de las opciones */
        color: #fff; /* Color del texto de las opciones */
    }

    .update_shipment_button{
        height: 30px;
        width: 30px;
        margin-left: 10px;
        border-radius: 5px;
        background-color: $success_400;
        transition: transform 0.2s ease;
        &:hover{
            background-color: $success_600;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.365);
            transform: translate(-1px, -1px);

        }
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.return_button{
    margin-bottom: 0.5rem;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    cursor: pointer;
    color: gray;
    font-size: 1.5rem;
    &:hover{
        font-weight: bold;
        color: $primary-main;
    }
}