<main class="build_your_pc_vs_main_container">
    <div class="title_container">
        <!-- <img src="../../../../../assets/images/build-your-pc/fire-gif.gif" alt=""> -->
        <div class="fire_container"></div>
        <h1 class="title">Forja Tu Camino</h1>
        <div class="fire_container"></div>
        <!-- <img src="../../../../../assets/images/build-your-pc/fire-gif.gif" alt=""> -->
    </div>
    <div class="divider"></div>
    <app-amd-vs-intel></app-amd-vs-intel>
</main>
<app-footer></app-footer>