@import 'styles.scss';

.card{
  background-color: $gray_10;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  // padding-left: 2rem;
}
.card-body{
  background-color: $gray_10;
  color: white;
}

.card-title{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.card-title , .card-text{
    color: white;
}