<section class="admin_panel_table_main_container main_getAll_container">

    <h2 class="title"> Tipos de memoria </h2>
    <h4 class="subtitle">Lista de todos los tipos de memoria de Sector 7</h4>

    @if(this.elements$ && this.elements$.length > 0 ) {
        
    <table>
        <thead>
            <tr>
                <td>
                    Tipo
                </td>
                <td>
                    Acciones
                </td>
            </tr>
        </thead>
        <tbody>
            @for(element of elements$ ; track element.id){
            <tr>
                <td>
                    {{element.type}}
                </td>
                <td class="actions_buttons_container">
                    <div class="flex_container">
                        <button type="button" class="actions_button update_button"
                            (click)="showUpdatePopUpMethod(element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <!-- @if (elementDeletedSuccessfully) {
    <app-message-pop-up custom_message='Generacion Eliminado Exitosamente'
        (close)="closeModal('elementDeletedSuccessfully')"> </app-message-pop-up>
    } -->

    <!-- @if (elementDeletionFailed) {
    <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('elementDeletionFailed')">
    </app-message-pop-up>
    } -->

    <!-- @if(showPopUpToConfirmDelete){
    <app-confirm-pop-up custom_message="¿Realmente desea eliminar esta generacion?" (confirm)="confirmDeleteAction()"
        (close)="closeModal('showPopUpToConfirmDelete')"></app-confirm-pop-up>
    } -->

    }
    @else {
    @if( isLoading ){
    <app-spinner-s7></app-spinner-s7>
    }
    @else {
    <app-input-danger-text text="No hay generaciones"></app-input-danger-text>
    }
    }

</section>

@if(this.showUpdatePopUp){
   <app-update-memory-type [element_id]="this.update_id" 
   (UpdateSuccesfullyEmmitter)="this.updateElementsState()" 
   (close)="closeModal('showUpdatePopUp')">
   </app-update-memory-type>
}