@import 'styles.scss';
@import '_media-queries.scss';

.form {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: $gray_15; 
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;

  .custom-input {
    display: flex;
    flex-direction: column;

  }

  .form-label {
    margin-bottom: 5px;
    color: white;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: $gray_20;
    color: white;
    border-bottom: 2px solid $primary-main;
    margin-bottom: 1.5rem;
  }

  .form-control.is-invalid {
    margin-bottom: 0.2rem;
    border-radius: 5px;
  }

  .form-control:focus {
    outline: 1px solid #007bff;
    background-color: $gray_30;
  }

  .form-control:focus.is-invalid {
    outline: none;

  }

  .is-invalid {
    border: 2px solid $danger_500;
    // border-color: #dc3545;
  }

  .warning_text_container {
    display: flex;
    justify-content: space-between;
    background-color: $danger_50;
    border-radius: 3px;
    padding: 3px 10px;
    color: #dc3545;
    margin-top: 5px;
    margin-bottom: 1rem;

    mat-icon {
      height: fit-content;
    }

    

  }


  .fields_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .field_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: $gray_55;
    width: 40%;
    border-radius: 2px;
    padding-left: 1rem;
    .field_name {
      margin-right: 1rem;
    }

    .delete_field_button{
      background-color: $gray_30;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.3rem;
      border-radius: 2px;

      &:hover{
        background-color: $danger_500;
        cursor: pointer;
      }
    }
    
  }

  .add_field_button_container {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .add_field_button {
    margin-bottom: 1.5rem;
    width : 30px; 
    height: 30px;
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: $primary-main;
  }

  

  .custom-input.row {
    flex-direction: row;
  }

  .input_is_component_container{
    margin-bottom: 1.5rem;
  }
  .is_component_checkbox,
  .is_component_checkbox_label {
    display: inline;
  }


  .is_component_checkbox {
    width: 20px;
    height: 20px;
    margin: 0 0 0 2rem;
  }

  .primary_button{
    margin-top: 2rem;
  }


}