@import "../../../../../styles.scss";
@import "../../../../../media-queries";


.wide_product_card_container {
    background-color: $gray_55;
    margin: 2rem 0;
    border-radius: 10px;
    display: flex;  

    height: 110px;
    
    @include tablet{
        height: 130px;
    }
    @include laptop {
        height: 150px;
    }
    @include desktop {
        height: 170px;
    }

    &:first-child {
        @include tablet {
            margin: 0rem 0 2rem 0;
        }
    }

    .wide_product_card_image_container {

        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
        margin: auto;
        filter: $filter_background_for_products;

        @include tablet {
            width: 20%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .wide_product_card_text_container {
        width: 70%;
        display: flex;
        padding-left: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        border-radius: 15% 1% 11% 0% / 100% 4% 90% 0%;
        background-color: $gray_20;
        text-overflow: ellipsis;
        // padding-top: 1rem;

        @include tablet {
            width: 80%;
        }



        h4 {
            font-weight: 400;
            padding-right: 2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Número máximo de líneas */
            -webkit-box-orient: vertical;

            @media screen and (max-width: 500px) {
                font-size: 0.8rem;
                margin: 0.5rem 0;
            }
        }

        p.price{
            margin: 0;
            @include tablet{
                margin : 0 0 1rem 0;
            }
        }

        .primary_button {
            align-self: self-end;
            margin-right: 15%;
            @include tablet {
                align-self: self-start;
                margin-right: 0;
            }
        }
    }


}