<main class="search_main_container">

    <div class="search_title_container">
        <h2>Resultados de la busqueda</h2>
        <div class="title_divider"></div>
    </div>
    <aside class="product_features_filters_container">
        <div class="product_features_filters_content">
            @for (feature of features; track $index) {
            <div class="each_feature_container">
                <h4 class="feature_title">{{feature.title}}</h4>
                @for (filter of feature.filters; track $index) {
                <p>{{filter}}</p>
                }
            </div>
            }
        </div>
    </aside>


    <section class="search_results_container" infiniteScroll 
        [infiniteScrollDistance]="2" 
        [infiniteScrollThrottle]="100"
        (scrolled)="onScroll()">

        @for (product of products; track $index) {

        <app-wide-product-card [id]="product.id" [name]="product.title" [img]="product.photos[0]"
            [price]="product.price">
        </app-wide-product-card>
        }

        @if(loading){
            <div class="scroll_spinner_container">
                <app-spinner-s7-small class="scroll_spinner"></app-spinner-s7-small>
            </div>
        }
    </section>


</main>
<app-footer></app-footer>