<main class="search_main_container">

    <div class="search_title_container">
        <div style="display: flex; justify-content: space-between; align-items: center ;">
            <h2>Resultados de la busqueda</h2>
            <form [formGroup]="formGroup" class="order_by_form">
                <p-dropdown 
                    formControlName="order_by" 
                    [options]="waysToOrder"
                    optionLabel="name"
                    placeholder="Ordenar por" />
            </form>
        </div>

        <div class="title_divider"></div>
    </div>
    <aside class="product_features_filters_container">
        <div class="product_features_filters_content">
            <div class="clear_filters_button_container">
                <button class="clear_filters_button" (click)="clearFilters()" title="Limpiar filtros"> <mat-icon>autorenew</mat-icon> </button>
            </div>
            <div class="each_feature_container">
                <h4 class="feature_title">Precio</h4>
                <div class="input_price_container">
                    <div class="since_and_until_price_inputs_container">
                        <input type="number" placeholder="Desde"  [(ngModel)]="sincePrice" >
                        <input type="number" placeholder="Hasta" [(ngModel)]="untilPrice" >
                    </div>
                    <button (click)="applyPriceFilter()" class="price_button">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>

            <div class="each_feature_container">
                <h4 class="feature_title">Marca</h4>

                @for( brand of brands; track $index){
                        <small (click)="setElementToFilter('brand' ,brand)" class="feature_element" 
                        [ngClass]="brand == this.brandSelected() ? 'active' : ''"
                        >{{brand}}</small>
                }
                
            </div>

            <div class="each_feature_container">
                <h4 class="feature_title">Categoría</h4>
                @for( category of categories; track $index){
                    <small class="feature_element" (click)="setElementToFilter('category' , category.name)" 
                    [ngClass]="category.name == this.categorySelected() ? 'active' : ''"
                    >{{category.name}}</small>
                }
                
            </div>
           
        </div>
    </aside>


    <section class="search_results_container" infiniteScroll 
        [infiniteScrollDistance]="2" 
        [infiniteScrollThrottle]="100"
        (scrolled)="onScroll()">

        @if(products && products.length > 0 ){
            @for (product of products; track $index) {
    
            <app-wide-product-card [id]="product.id" [name]="product.title" [img]="product.photos[0]"
                [price]="product.price">
            </app-wide-product-card>
            }
        }
        @else {
            @if(!loading){
                <div class="parragraph_message_container">
                    <p>Parece que no se encontraron resultados para esa busqueda</p>
                </div>
            }
        }

        @if(loading){
            <div class="scroll_spinner_container">
                <app-spinner-s7-small class="scroll_spinner"></app-spinner-s7-small>
            </div>
        }
    </section>


</main>
<app-footer></app-footer>