<h1 style="color : red"> prueba</h1>

<div style="height: 80vh;">
    <div class="card flex justify-content-center">
        <p-autoComplete 
            [(ngModel)]="selectedItem"
            [suggestions]="suggestions"
            (completeMethod)="search($event)"
            field="title" 
            class="custom-autocomplete" 
            />
    </div>
</div>


<p-floatLabel>
    <p-autoComplete 
      [(ngModel)]="selectedItem" 
      [suggestions]="suggestions" 
      (completeMethod)="search($event)" 
      inputId="float-label" 
      styleClass="custom-autocomplete"/>
    <label for="float-label">Float Label</label>
  </p-floatLabel>
