@import 'styles.scss';

.user_order_card_container{
    background-color: $gray_10;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
    // padding-left: 2rem;

    @media screen and (min-width: 768px) and (max-width: 860px) {
        width: 70%; 
        margin: auto;
    }

    @media screen and (min-width: 460px) and (max-width: 540px) {
        width: 70%;
        margin: auto;

    }
    
}

.primary-button{
    @media screen and (min-width: 768px) and (max-width: 860px) {
        width: 100%; 
        margin: auto;
    }

    @media screen and (min-width: 460px) and (max-width: 540px) {
        width: 100%; 
        margin: auto;

    }
}

.primary-font{
    font-family: 'Klavika' , sans-serif;
    font-size: 18px;
}