<div class="overlay">
    <div class="modal_container update_pop_up modal_form">
        <span class="modal_close_button" (click)="closeUpdateModal()">&times;</span>
        <div class="modal_info">
                    @if(  !showSuccessMessageCommon() && !showSuccessMessageMercadoPago()){

                    <!-- Form -->
                    <section class="form_container">
                        <form (ngSubmit)="send()" [formGroup]="this.form" class="form form_pop_up">
                            <h2>Elige un metodo de pago</h2>
                            <select formControlName="payment_method" class="custom-select" >
                                @for( payment_method of typesOfPaymentMethods ; track $index) {
                                    <option value="{{payment_method.value}}" > {{payment_method.name}} </option>
                                }
                            </select>

                        
                            <div class="button_container">
                                <button type="submit" class="primary_button" 
                                [ngClass]="{ 'primary_button_disabled': updateButtonIsDisabled }"
                                [disabled]="this.updateButtonIsDisabled" >Actualizar</button>
                            </div>
                        </form>
                    </section>
                }@else if (this.showSuccessMessageMercadoPago()){
                    <div class="confirm_button_container">
                        <div class="submit_button_container d-flex justify-content-center flex-column ">
                                <h3 >Hacé click en el siguiente botón para continuar</h3>
                                @if(isLoadingMP){
                                    <mat-spinner>
                                    </mat-spinner>
                                }
                                <div id="wallet-container" ngClass="{{ isLoadingMP ? 'hidden' : ''}}"></div>
                            </div>
                    </div>
                }
                        
                @else if(this.showSuccessMessageCommon()){

                    <div class="success_message">
                        <p>Metodo de pago actualizado con exito</p>
                    </div>
    
                    <div class="button_container">
                        <button class="primary_button" (click)="closeUpdateModal()">Cerrar</button>
                    </div>
                }
                @else{
                    <div class="modal_container update_pop_up modal_form">
                        <span class="modal_close_button" (click)="closeUpdateModal()">&times;</span>
                        <div class="modal_info">
                            <p>No se encontraron metodos de pago</p>
                        </div>
                    </div>
                }
            
                </div>
            </div>

       
    
    
   

    
    

</div>