<section id="create_usd_container">
    <h2>Crear una nueva categoría</h2>

    <section class="form_container">
        <form (ngSubmit)="send()" [formGroup]="form" class="form">

            <div class="custom-input">
                <label class="form-label">Nuevo valor de cotización:</label>
                <input type="number" min="0" formControlName="price" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors('price', 'required') }">
            </div>
            @if( hasErrors('price', 'required') ){ <app-input-danger-text
                text="El precio es requerido"></app-input-danger-text>
            }


            @if (elementWasCreatedSuccessfully) {
            <app-message-pop-up custom_message='Precio creado exitosamente'
                (close)="closeModal('elementWasCreatedSuccessfully')"> </app-message-pop-up>
            }
            @if (thereWasAnErrorWhenCreateElement) {
            <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('thereWasAnErrorWhenCreateElement')">
            </app-message-pop-up>
            }


            <button class="primary_button" [ngClass]="{'primary_button_disabled' : disabledFormButton()}"
                [disabled]="disabledFormButton()" type="submit">Enviar</button>
        </form>
    </section>


</section>