
<main>
    <ul class="summary_list">
    @for(entry of products; track $index) {
            @if(entry.categoryName.toLowerCase() === 'linea'){
                <li class="summary_item">
                    <span >Linea: </span>
                    <span class="quantity">{{entry.selectedProductName}} </span>
                </li>
            }
            @else if(entry.selectedProductID == null){

            }
            @else {
                <li class="summary_item">
                    <span class="product_name">{{entry.selectedProductName}} </span>
                    <span class="quantity">x {{entry.selectedProductQuantity}} </span>
                </li>
            }
        }
    </ul>
    <div class="checks_container">
        <p>Servicios adicionales: </p>
        <div class="custom-checkbox">
            <input  id="assembled" type="checkbox" class="checkbox" [(ngModel)]="assembled" (change)="addCost('assembled', this.assembled)">
            <label for="assembled" >Ensamblado ({{assembledPrice  | customCurrency}}) </label>
        </div>
        <div class="custom-checkbox">
            <input  id="installed" type="checkbox" class="checkbox" [(ngModel)]="installed" (change)="addCost('installed', this.installed)">
            <label for="installed"  >Instalación ({{installedPrice | customCurrency}})</label>
        </div>
      </div>
      
    <div class="total_container">
        <p class="total_price">Total: {{sumaTotal | customCurrency  }} </p>
    </div>

    <div class="button_container">
        <button class="primary_button" (click)="goToCart()">Listo! Llevame al carrito!</button>
    </div>
</main>