<div class="overlay">
    <ng-container>
        <div class="modal_container modal_form">
            <span class="modal_close_button" (click)="closeUpdateModal()">&times;</span>
            <div class="modal_info">
                <section class="form_container">

                    <form [formGroup]="this.form" (ngSubmit)="send($event)" class="form">
                        <div class="half_container">
                            <div class="custom-input">
                                <label for="oldPassword" class="form-label">
                                    Password Actual<span class="required_symbol"> *</span>
                                </label>
                                <input type="text" formControlName="oldPassword" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'oldPassword', 'required') }">
                                @if( hasErrors(this.form,'oldPassword', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>
                            <div class="custom-input">
                                <label for="newPassword" class="form-label">
                                    Password Actual<span class="required_symbol"> *</span>
                                </label>
                                <input type="text" formControlName="newPassword" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'newPassword', 'required') }">
                                @if( hasErrors(this.form,'newPassword', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>
                            <div class="custom-input">
                                <label for="validationPassword" class="form-label">
                                    Password Actual<span class="required_symbol"> *</span>
                                </label>
                                <input type="text" formControlName="validationPassword" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'validationPassword', 'required') }">
                                @if( hasErrors(this.form,'validationPassword', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>
                        </div>

                        <button class="primary_button"
                            [ngClass]="{'primary_button_disabled' : disabledFormButton(this.form)}"
                            [disabled]="disabledFormButton(this.form)" type="submit">Enviar</button>
                    </form>
                </section>
            </div>
        </div>
    </ng-container>


    @if (passwordWasChangedSuccessfully) {
        <app-message-pop-up custom_message='{{this.successMessage}}' (close)="closeModal('passwordWasChangedSuccessfully')">
        </app-message-pop-up>
    }

    @if (thereWasAnError) {
        <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('thereWasAnError')">
        </app-message-pop-up>
    }

</div>