@import '@shared/styles/admin_table.scss';

.admin_panel_table_main_container.main_socket_container{

    @include desktop{
        width: 60%;
        margin: auto;
    }

    thead tr td:last-child{
        width: 10rem;
    }

}