<div class="build_your_pc_cards_container cards_children_main">
    @for( product of products ; track $index){
        <app-two-colors-card 
        [selected]="product.id === '1'" class="cards"
        [title]="product.title"
        [price]="product.price"
        [photo]="product.photos[0]"
        [id]="product.id" 
        (addToCart)="addToCart($event)"
        >
    </app-two-colors-card>
    }
    @if(!this.thereIsPreviousStepSelected){
        <div class="warning_text_container">
            <p class="text-center">Para poder elegir una memoria, es necesario elegir una mother previamente.</p>
            <p class="text-center"><a href="build-your-pc/Mothers" style="font-weight: bold;">Haz click aqui</a> para elegir tu mother.</p>
        </div>
    }
</div>