@import 'styles.scss';
@import '_media-queries.scss';
@import '../cards-children.scss';

.build_your_pc_cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    // background-color: rgba(0, 255, 255, 0.378);
    // background-color: rgba(0, 255, 255, 0.439);   
    
    @include laptop {
        justify-content: start;
    }

    .cards {
        width:  90%;
        @include laptop {
            width: 100%;
        }
        @include desktop {
            width: 100%;
        }
    }


    .warning_text_container {
        display: flex;
        
        justify-content: center;
        align-items: center;
        background-color: $warning_200;
        border-radius: 3px;
        padding:  2rem;
        color: $warning_800;
        
        p{
          margin: 0;
        }
        mat-icon{
          height: fit-content;
        }
    }
}