<div class="header_panel_container">
    <div class="header_panel_logo_container">
        <picture class="header_panel_logo_image">
            @if(isUserLoggedIn){
                <div class="image_container" id="user_menu_user_photo_container">
                    <img [src]=" isUserLoggedIn ? user.presignedUrlPhoto : 'assets/images/logos/Sector7LogoSmall.png'" alt="logo">
                </div>
            }
            @else {
                <div class="image_container">
                    <img src="assets/images/logos/Sector7LogoSmall.png" alt="logo">
                </div>
            }
        </picture>

        @if(isUserLoggedIn){
            <p class="header_panel_user_name">{{user.firstname}}</p>
        }
        @else {
            <p class="header_panel_user_name">{{(isAdminCategory()) ? 'Sector 7 - Admin': 'Sector 7 - Vendedor'}}</p>
        }

    </div>
    
    <div class="header_panel_user_container">
        @if(!isAdmin()){
            <p class="my_account_section" [routerLink]="['user-account']"><mat-icon>account_circle</mat-icon> Mi Cuenta</p>
        }
        <p class="my_account_section" [routerLink]="['cart']"><mat-icon>shopping_cart</mat-icon> Mi Carrito</p>
        <p class="my_account_section" (click)="logout()"><mat-icon>logout</mat-icon> Cerrar Sesion</p>
    </div>