<div class="header_panel_container">
    <div class="header_panel_logo_container">
        <picture class="header_panel_logo_image">
            <img src="assets/images/temporales/Avatar.svg" alt="logo">
        </picture>
        <p class="header_panel_user_name">Pepe</p>
            
    </div>
    <div class="header_panel_user_container">
        <p class="my_account_section"><mat-icon>account_circle</mat-icon> Mi Cuenta</p>
        <p class="my_account_section"><mat-icon>shopping_cart</mat-icon> Mi Carrito</p>
        <p class="my_account_section" (click)="logout()"><mat-icon>logout</mat-icon> Cerrar Sesion</p>
    </div>