<section class="admin_panel_table_main_container">

    <h2 class="title"> Productos </h2>
    <h4 class="subtitle">Lista de todosas los productos de Sector 7</h4>

    @if(usd$ && usd$.length > 0){
        <table>
            <thead>
                <tr>
                    <td>
                        Fecha
                    </td>
                    <td>
                        precio
                    </td>
                    <td>
                        Acciones
                    </td>
                </tr>
            </thead>
            <tbody>
                @for(usd of usd$ ; track usd.id){
                <tr>
                    <td>
                        {{usd.date | customDatePipe}}
                    </td>
                    <td>
                        {{usd.price | currency}}
                    </td>
                    
                    <td class="actions_buttons_container">
                        <button class="actions_button update_button">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="actions_button delete_button" (click)="deleteUsd(usd.id)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    }
    @else {
        <app-input-danger-text text="No hay productos"></app-input-danger-text>
    }
</section>