@if(this.show){



<section class="path_to_build_your_pc_container">
    <div class=" close_mobile_button_container show_in_mobile_tablet">
        <button type="button" class="primary_button show_in_mobile_tablet" (click)="closeMenu()"><mat-icon>close</mat-icon></button>
    </div>

    <h3 class="highlight_text">
        Linea Intel
    </h3>
    <div class="path_points">
        <!-- 11 -->
        <div class="path_element_container ">
            <div class="path_point_container">
                <div class="point_outside">
                    <div class="point_inside ">1</div>
                </div>
                <div class="path_line_container">
                    <div class="path_line ">
                        <div class="path_line_outside">
                            <div class="path_line_inside"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_container">
                <p class="path_point_text">Procesador</p>
                <div class="path_line_text_container">
                    <p class="path_line_text">
                    </p>
                </div>
            </div>
        </div>
        <!-- 22 -->
        <div class="path_element_container checked">
            <div class="path_point_container">
                <div class="point_outside">
                    <div class="point_inside checked"></div>
                </div>
                <div class="path_line_container">
                    <div class="path_line checked">
                        <div class="path_line_outside">
                            <div class="path_line_inside checked"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_container">
                <p class="path_point_text">Procesador</p>
                <div class="path_line_text_container">
                    <p class="path_line_text">
                        Procesador gamer Intel Core i9-13900K
                    </p>
                    <mat-icon class="check_icon">check</mat-icon>
                </div>
            </div>
        </div>
        <!-- 33 -->
        <div class="path_element_container checked">
            <div class="path_point_container">
                <div class="point_outside">
                    <div class="point_inside checked"></div>
                </div>
                <div class="path_line_container">
                    <div class="path_line checked">
                        <div class="path_line_outside">
                            <div class="path_line_inside checked"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_container">
                <p class="path_point_text">Procesador</p>
                <div class="path_line_text_container">
                    <p class="path_line_text">
                        Procesador gamer Intel Core i9-13900K
                    </p>
                    <mat-icon class="check_icon">check</mat-icon>
                </div>
            </div>
        </div>

        
    </div>
    <h3 class="highlight_text total">
        Total: $10000
    </h3>
</section>
}