<main class="admin_dashboard_main">
    <mat-drawer-container>
        <mat-drawer #drawer mode="over">
          <div class="sidenav_dashboard"></div>

            <button class="close_sidenav_button primary_button" (click)="drawer.toggle()">
                <mat-icon fontIcon="close"></mat-icon>
            </button>

        </mat-drawer>
        
        <div class="">
          
          <div style="background-color: red; width: 100%;height: 100vh;">
            <button class="see_dashboard_options_button primary_button" type="button" mat-button (click)="drawer.toggle()">
                <mat-icon fontIcon="more_vert"></mat-icon>
            </button>
          </div>
        </div>
      
      </mat-drawer-container>
</main>