<section class="admin_panel_table_main_container">

    <h2 class="title"> Cuentas </h2>
    <h4 class="subtitle">Lista de todas las cuentas de Sector 7</h4>

    @if(accounts$){
    <table>
        <thead>
            <tr>
                <td>
                    Nombre de usuario
                </td>
                <td>
                    Estado
                </td>
                <td>
                    Acciones
                </td>
            </tr>
        </thead>
        <tbody>
            @for(account of accounts$ ; track account.id){
            <tr>
                <td>
                    {{account.username}}
                </td>
                <td>
                    @if (account.enabled) {Habilitado}
                    @else{Deshabilitado}
                </td>
                <td class="actions_buttons_container">
                    <div class="flex_container">
                        @if(account.enabled){
                            <button type="button" class="actions_button update_button" title="Deshabilitar"
                                (click)="updateStateAccount(account.username , account.enabled)">
                                <mat-icon>sync</mat-icon>
                            </button>
                        }
                        @else{
                            <button type="button" class="actions_button update_button" title="Habilitar"
                                (click)="updateStateAccount(account.username , account.enabled)">
                                <mat-icon>sync</mat-icon>
                            </button>
                        }
                    </div>
                    <div class="flex_container">
                        <button type="button" class="actions_button delete_button" title="Eliminar"
                            (click)="deleteAccount(account.username)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <!-- <mat-paginator #paginator [length]="products$.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page">
    </mat-paginator> -->

    }
    @else {
    <app-input-danger-text text="No hay cuentas"></app-input-danger-text>
    }

    @if (accountUpdatedSuccessfully) {
        @if(wasEnabled) {
            <app-message-pop-up  custom_message='Cuenta deshabilitada exitosamente'
            (close)="closeModal('accountUpdatedSuccessfully')"> </app-message-pop-up>}
        @else {
            <app-message-pop-up  custom_message='Cuenta habilitada exitosamente'
            (close)="closeModal('accountUpdatedSuccessfully')"> </app-message-pop-up>}
    }

    @if (accountDeletedSuccessfully) {
        <app-message-pop-up  custom_message='Cuenta eliminada exitosamente'
        (close)="closeModal('accountDeletedSuccessfully')"> </app-message-pop-up>
    }
    
    @if (accountUpdatedFailed) {
    <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('accountUpdatedFailed')">
    </app-message-pop-up>
    }

    @if (accountDeletedFailed) {
        <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('accountDeletedFailed')">
        </app-message-pop-up>
        }
</section>

<!-- @if(this.showUpdatePopUp){
<app-products-update-pop-up [product_id]="this.update_id" [product_USD_price]="this.product_USD_price"
    (close)="closeModal('showUpdatePopUp')"></app-products-update-pop-up>
} -->