<section class="admin_panel_table_main_container">

    <h2 class="title"> Productos </h2>
    <h4 class="subtitle">Lista de todos los productos de Sector 7</h4>

    <!-- buscador -->

    <!-- TODO: Cambiar los br -->
    <br>
    <app-search-input-products #searchInputComponent (searchString)="search($event)"></app-search-input-products>
    <br>
    <br>

    <!-- tabla de productos -->
    @if(products$ && products$.length > 0 ) {
    <table>
        <thead>
            <tr>
                <td>
                    Nombre
                </td>
                <td>
                    Precio
                </td>
                <td class="td_two_children" colspan="2">
                    Stock
                    <div class="td_children_container">
                        <div class="td_children">
                            Real
                        </div>
                        <div class="td_children">
                            Visual
                        </div>
                    </div>
                </td>
                <td>
                    Acciones
                </td>
            </tr>
        </thead>
        <tbody>
            @for(product of products$ ; track product.id){
            <tr>
                <td (click)="navigateTo(product.id)" style="cursor: pointer;">
                    {{product.title}}
                </td>
                <td>
                    {{product.price | customCurrency}}
                </td>
                <td class="td_two_children_inside" colspan="2">
                    <div class="td_children_container">
                        <div  class="td_children">
                            {{product.actualStock}}
                        </div>
                        <div class="td_children" >
                            {{product.viewStock}}
                        </div>
                    </div>
                </td>
                <td class="actions_buttons_container">
                    <div class="flex_container">
                        <button type="button" class="actions_button update_button"
                            (click)="showUpdatePopUpMethod(product.id , product.price)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" class="actions_button delete_button"
                            (click)="askToConfirmDelete(product.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="paginator-container">
        <mat-paginator id="myPaginator" #paginator [showFirstLastButtons]="true" [length]="totalItems"
            [pageIndex]="currentPage" [pageSize]="pageSize" [hidePageSize]="true" [pageSizeOptions]="pageSizeOptions"
            (page)="pageChanged($event)" aria-label="Select page">
        </mat-paginator>
    </div>


    }
    @else {
        @if( isLoading ){
            <app-spinner-s7></app-spinner-s7>
        }
        @else {
            <app-input-danger-text text="No hay productos"></app-input-danger-text>
        }
    }

    @if (productDeletedSuccessfully) {
    <app-message-pop-up custom_message='Producto eliminado exitosamente'
        (close)="closeModal('productDeletedSuccessfully')"> </app-message-pop-up>
    }
    @if (productDeletionFailed) {
    <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('productDeletionFailed')">
    </app-message-pop-up>
    }

    @if(this.showPopUpToConfirmDelete){
    <app-confirm-pop-up custom_message="¿Desea eliminar este producto?" (confirm)="confirmDeleteAction()"
        (close)="closeModal('showPopUpToConfirmDelete')"></app-confirm-pop-up>
    }
</section>

@if(this.showUpdatePopUp){
<app-products-update-pop-up [product_id]="this.update_id" [product_USD_price]="this.product_USD_price"
    (itemWasUpdatedSuccesfully)="this.updateProductsState()" (close)="closeModal('showUpdatePopUp')">
</app-products-update-pop-up>
}