@import "@shared/styles/paginator.scss";
@import '@shared/styles/search_bar.scss';
@import "styles.scss";

.admin_panel_table_main_container{

    .clear_search_button{
        padding: 0.5rem 0.5rem;
        margin: auto 0;
        border-radius: 2px;
    }
}
