<div class="build_your_pc_cards_container cards_children_main">
    @for( product of products ; track $index){
        <app-two-colors-card 
        [selected]="product.id === '1'" class="cards"
        [title]="product.title"
        [price]="product.price"
        [photo]="product.photos[0]"
        [id]="product.id" 
        (addToCart)="addToCart($event)"
        >
    </app-two-colors-card>
    }
    @if( this.showPopUpToConfirmDeleteNextStep){
        <app-confirm-pop-up  custom_message="La mother seleccionada no corresponde con la memoria previamente elegida, si continua, deberá cambiarla" (close)="closeModal('showPopUpToConfirmDeleteNextStep')" (confirm)="confirmDeleteAndContinue()"></app-confirm-pop-up>   
    }
    @if(!this.thereIsPreviousStepSelected){
        <div class="warning_text_container">
            <p class="text-center">Para poder elegir un mother, es necesario elegir un procesador previamente.</p>
            <p class="text-center"><a href="build-your-pc/procesadores" style="font-weight: bold;">Haz click aqui</a> para elegir tu procesador.</p>
            
        </div>
    }
</div>