<div class="build_your_pc_cards_container cards_children_main">
    @if(this.selectedProduct){ <!-- if there is a selected product -->
        <app-two-colors-card class="cards"
            [selected]="this.selectedProduct.id === this.idProductSelected" 
            (removeFromCart)="removeProductFromCart($event)"
            [title]="this.selectedProduct.title"
            [price]="this.selectedProduct.price"
            [photo]="this.selectedProduct.photos[0]"
            [id]="this.selectedProduct.id" 
            (addToCart)="addToCart($event)"
        >
        </app-two-colors-card>

        @for( product of products ; track $index){

            @if(product.id !== this.selectedProduct.id && product.viewStock > 0){
                <app-two-colors-card class="cards"
                [selected]="product.id === this.idProductSelected" 
                (removeFromCart)="removeProductFromCart($event)"
                [title]="product.title"
                [price]="product.price"
                [photo]="product.photos[0]"
                [id]="product.id" 
                (addToCart)="addToCart($event)"
                >
            </app-two-colors-card>
            }
        }
    }@else {  <!-- if there is no selected product -->
        @for( product of products ; track $index){
            @if(product.viewStock > 0){
                <app-two-colors-card class="cards"
                [selected]="product.id === this.idProductSelected" 
                (removeFromCart)="removeProductFromCart($event)"
                [title]="product.title"
                [price]="product.price"
                [photo]="product.photos[0]"
                [id]="product.id" 
                (addToCart)="addToCart($event)"
                >
            </app-two-colors-card>
            }
       }  
   }

    @if( this.showPopUpToConfirmDeleteNextStep){
        <app-confirm-pop-up  custom_message="La mother seleccionada no corresponde con la memoria previamente elegida, si continua, deberá cambiarla" (close)="closeModal('showPopUpToConfirmDeleteNextStep')" (confirm)="confirmDeleteAndContinue()"></app-confirm-pop-up>   
    }
    @if(!this.thereIsPreviousStepSelected){
        <div class="warning_text_container">
            <p class="text-center">Para poder elegir un mother, es necesario elegir un procesador previamente.</p>
            <p class="text-center"><a href="build-your-pc/procesadores" style="font-weight: bold;">Haz click aqui</a> para elegir tu procesador.</p>
            
        </div>
    }
</div>