@import 'styles.scss';

$border_radius_for_card: 14px;
$border_radius_inside_element: $border_radius_for_card - 3px;

.two_colors_card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    height: 140px; // despues cambiar
    color: white;
    border-radius: $border_radius_for_card;
    cursor: pointer;
    margin-bottom: 0.5rem;
    // background-color: aqua;
    

    &.selected {
        // box-shadow: 2px 2px 2px 2px $primary-main;
        border: 3px solid $primary-main;
    }

    @include tablet {
        width: 80%;
    }
    
    @include laptop{
        width: 90%;
    }

    @include desktop {
        width: 100%;
    }
    

    .top_container {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray_10;
        border-radius: $border_radius_inside_element 0 0 $border_radius_inside_element;

    
        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }

        @include tablet {
            width: 35%;
        }
        @include laptop {
            width: 30%;
        }
    }

    .divider {
        @include gradient_orange_yellow_top_L_to_botom_R;
        width: 4px;
        height: 100%;

        
    }

    .bottom_container {
        flex: 1; 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $gray_20;
        border-radius: 0 $border_radius_inside_element $border_radius_inside_element 0;

        
        @include tablet {
            // width: 100%;
            // height: 50%;
            // border-radius: 0 0 $border_radius_inside_element $border_radius_inside_element;
        }
        
        .product_price {
            width: 90%;
            font-weight: bolder;
            color: $success-300;
            margin : 0;
        }

        .product_name {
            width: 90%;
            line-height: 1rem;
            font-size: 14px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Número máximo de líneas */
            -webkit-box-orient: vertical;
        }

        .button_container{
            width: 90%;
            display: flex;
            justify-content: end;
            align-items: center;

            button{
                margin-left: 0.5rem;
            }
            .primary_button{
                // padding: 0;
            }
        }

    }

    .selected_tag{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.3rem;
        background-color: $primary-main;
        border-radius: calc($border_radius_inside_element - 2px) 0 0 0 ;

        @media screen and (max-width: 350px) {
           font-size: 0.7rem;     
        }
    }
}