
<div class="two_colors_card">
    <div class="top_container">
        <img [src]="this.photo" alt="">
    </div>
    <div class="divider"></div>
    <div class="bottom_container">
        <p class="product_name"><a href="product-details/{{this.id}}">{{this.title}}</a></p>
        <p class="product_price">{{this.price | customCurrency}}</p>
        <div class="button_container">
            <button class="primary_button" (click)="sendProduct()" >Seleccionar</button>
        </div>
    </div>
</div>
