<mat-sidenav-container>

    <!-- Side Nav -->
    <mat-sidenav #sidenav mode="over" [(opened)]="menuOpened" class="sidenav">
        <div class="sidenav-buttons-container">
            <div class="top_button_container"
                [ngClass]="navbarfixed ? 'sidenav-top-button-fixed' : 'sidenav-top-button-no-fixed'">
                <mat-icon class="close-icon" (click)="closeMenu()">close</mat-icon>
            </div>
            <nav>
                <ul class="side_nav_ul">
                    <li routerLink="" (click)="sidenav.toggle()">
                        <mat-icon class="sidenav-icon">home</mat-icon>
                        <a>
                            Inicio
                        </a>
                    </li>
                    <li routerLink="build-your-pc/Linea" (click)="sidenav.toggle()">
                        <mat-icon class="sidenav-icon">build</mat-icon>
                        <a>Arma tu PC</a>
                    </li>
                    <li [routerLink]="['/search']" (click)="sidenav.toggle()">
                        <mat-icon class="sidenav-icon">memory</mat-icon>
                        <a>Productos</a>
                    </li>
                    <li [routerLink]="['/search' , 'razer']" (click)="sidenav.toggle()">
                        <mat-icon class="sidenav-icon">laptop_mac</mat-icon>
                        <a>Razer</a>
                    </li>
                    <li [routerLink]="['/search' , 'news']" (click)="sidenav.toggle()">
                        <mat-icon class="sidenav-icon">sports_esports</mat-icon>
                        <a>
                            Novedades
                        </a>
                    </li>
                    <li [routerLink]="['/search' , 'promos']" (click)="sidenav.toggle()">
                        <mat-icon class="sidenav-icon">add_shopping_cart</mat-icon>
                        <a>
                            Promos
                        </a>
                    </li>

                    <li routerLink="contact" (click)="sidenav.toggle()">
                        <mat-icon class="sidenav-icon">call</mat-icon>
                        <a>
                            Contacto
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </mat-sidenav>

    <!-- Content  -->
    <mat-sidenav-content>
        <!-- Desktop Nav bar -->
        <mat-toolbar class="toolbar" (scroll)="onScroll()"
            [ngClass]="{'fixed': navbarfixed, 'no-fixed': !navbarfixed, 'searchBarOpenendInMobile': searchBarOpened}">
            <div class="toolbar_elements" [ngClass]="{'searchBarOpenendInMobile': searchBarOpened}">

                <button mat-icon-button class="hamburguer_menu_button" (click)="sidenav.toggle()">
                    <mat-icon>{{ menuOpened ? 'clear' : 'menu' }}</mat-icon>
                </button>

                <a [routerLink]="['']" class="anchor_logoS7">
                    <div class="logoS7"></div>
                </a>

                <nav class="desktop_nav" [ngClass]="searchBarOpened ? 'hide' : 'show'">

                    <ul class="custom-ul">
                        <li class="custom-li"><a [routerLink]="['/']">Inicio</a></li>
                        <li class="custom-li"><a routerLink="build-your-pc/Linea">Arma tu pc</a></li>
                        <li class="custom-li"><a [routerLink]="['/search']">Productos</a></li>
                        <li class="custom-li"><a [routerLink]="['/search' , 'razer']">Razer</a></li>
                        <li class="custom-li"><a [routerLink]="['/search' , 'news']">Novedades</a></li>
                        <li class="custom-li"><a [routerLink]="['/search' , 'promos']">Promos</a></li>
                    </ul>
                </nav>
                @if(searchBarOpened){
                <div class="search_bar_container_desktop search_bar_container " (click)="searchBarClicked=true"
                    (keydown.escape)="closeSearchBar()" (keydown)="handleKeydownInSearchBar($event)">
                    <div class="search_bar" [ngClass]="searchBarClicked ? 'searchBarClicked':''">
                        <button class="search_icon_inside_bar_button search_icon">
                            <mat-icon mat-icon-button>search</mat-icon>
                        </button>
                        <input type="text" #searchInputDesktop [(ngModel)]="searchBarInputText"
                            (ngModelChange)="search($event)" (blur)="handleInputBlur()">
                        <button class="search_icon_inside_bar_button close_icon">
                            <mat-icon (click)="closeSearchBar()">close</mat-icon>
                        </button>
                    </div>
                    <!-- List of Searched Products  -->
                    <div id="searchResults" class="search_bar_results_container"
                        *ngIf="productsBySearch$ |async as response">
                        <ul>
                            <li *ngFor="let product of response.products let i = index "
                                (click)="goToSearchComponentWithTextWirted()" [class.selected]="i === selectedIndex">
                                {{product.title}}>
                            </li>
                        </ul>
                    </div>
                </div>
                }

                <div class="corner_navbar_icons_container">
                    @if(!searchBarOpened){
                    <mat-icon class="corner_navbar_icon" (click)="toggleSearchBar()">
                        search
                    </mat-icon>
                    }
                    <div class="corner_navbar_icon">
                        <mat-icon matBadge="{{totalProductsInCart}}" matBadgeSize="small" matBadgeColor="warn"
                            [routerLink]="['cart']">
                            shopping_cart
                        </mat-icon>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="corner_navbar_icon">
                        <div class="user_photo">
                            @if(userMadeLogin){
                                <img [src]="userImage" alt="user photo">
                            }
                            @else if (adminMadeLogin) {
                                <img src="assets/images/logos/Sector7LogoSmall.png" alt="admin photo">
                            }
                            @else{
                                <img src="assets/images/utils/user_empty.svg" alt   ="user photo">
                            }
                        </div>
                    </button>

                    <mat-menu #menu="matMenu" class="account_panel_menu">
                        @if(userMadeLogin || adminMadeLogin){
                            <app-header-panel-logged-in-user class="account_panel"></app-header-panel-logged-in-user>
                        }
                        @else if(!userMadeLogin){
                            <app-header-panel-general class="account_panel"></app-header-panel-general>
                        }
                    </mat-menu>
                </div>


            </div>

            <!-- TODO: Hacer andar la de version mobile -->
            @if (searchBarOpened) {
            <div class="search_bar_container_mobile search_bar_container" (keydown.escape)="closeSearchBar()"
                (click)="searchBarClicked=true">
                <div class="search_bar" [ngClass]="searchBarClicked ? 'searchBarClicked':''">
                    <button class="search_icon_inside_bar_button search_icon">
                        <mat-icon mat-icon-button>search</mat-icon>
                    </button>
                    <input type="text" #searchInputMobile [(ngModel)]="searchBarInputText" (blur)="handleInputBlur()">
                    <button class="search_icon_inside_bar_button close_icon">
                        <mat-icon (click)="closeSearchBar()">close</mat-icon>
                    </button>
                </div>
            </div>
            }
        </mat-toolbar>
        <div class="height_helper"></div>



        <!-- Content  -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>