<mat-sidenav-container>

    <!-- Side Nav -->
    <mat-sidenav #sidenav mode="over" [(opened)]="menuOpened" class="sidenav">
        <div class="sidenav-buttons-container">
            <div class="top_button_container"
                [ngClass]="navbarfixed ? 'sidenav-top-button-fixed' : 'sidenav-top-button-no-fixed'">
                <mat-icon class="close-icon" (click)="closeMenu()">close</mat-icon>
            </div>
            <nav>
                <ul class="side_nav_ul">
                        <li>
                            <mat-icon class="sidenav-icon">build</mat-icon>
                            <a (click)="sidenav.toggle()" routerLink="build-your-pc">
                            Arma tu PC</a></li>
                        <li> 
                            <mat-icon class="sidenav-icon">laptop_mac</mat-icon> 
                            <a (click)="sidenav.toggle()" [routerLink]="['/search' , 'notebooks']">
                            Notebooks</a></li>
                        <li> 
                            <mat-icon class="sidenav-icon">phone_iphone</mat-icon>
                            <a (click)="sidenav.toggle()" [routerLink]="['/search' , 'consolasCambiar']">
                            Consolas</a></li>
                        <li> 
                            <mat-icon class="sidenav-icon">memory</mat-icon>
                            <a (click)="sidenav.toggle()" [routerLink]="['/search' , 'components']">
                            Componentes</a></li>
                        <li>
                            <mat-icon class="sidenav-icon">call</mat-icon>
                            <a (click)="sidenav.toggle()" routerLink="contact">
                            Contacto</a></li>
                </ul>
            </nav>

        </div>
    </mat-sidenav>

    <!-- Content  -->
    <mat-sidenav-content>
        <!-- Desktop Nav bar -->
        <mat-toolbar class="toolbar" (scroll)="onScroll()" [ngClass]="navbarfixed?'fixed':'no-fixed'">
            <div class="toolbar_elements">
                <button mat-icon-button class="hamburguer_menu_button" (click)="sidenav.toggle()">
                    <mat-icon>{{ menuOpened ? 'clear' : 'menu' }}</mat-icon>
                </button>

                <a href="" class="anchor_logoS7">
                    <div class="logoS7"></div>
                </a>

                <nav class="desktop_nav">
                    <ul class="custom-ul">
                        <li class="custom-li"><a [routerLink]="['/product-details' , 2]">Productos</a></li>
                        <li class="custom-li"><a [routerLink]="['/search' , 'components']">Componentes</a></li>
                        <li class="custom-li"><a [routerLink]="['/search' , 'consolasCambiar']">Consolas</a></li>
                        <li class="custom-li"><a [routerLink]="['/search' , 'notebooks']">Notebooks</a></li>
                        <li class="custom-li"><a routerLink="build-your-pc">Arma tu pc</a></li>
                        <li class="custom-li"><a [routerLink]="['/search' , 'promos']">Promos</a></li>
                    </ul>
                </nav>

                <div class="desktop_icons">
                    <mat-icon >search</mat-icon>
                    <a routerLink="cart"><mat-icon>shopping_cart</mat-icon></a>
                    <mat-icon>
                        <div class="user_photo"><img src="assets/images/utils/user_empty.png" alt="user photo"></div>
                    </mat-icon>
                </div>

            </div>

        </mat-toolbar>
        <div class="height_helper"></div>
        <!-- Content  -->
        <router-outlet></router-outlet>
        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>


</mat-sidenav-container>