@import 'styles.scss';
@import '_media-queries.scss';

.form_container {
  display: flex;
  width: 100%;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: $gray_15;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;


  &.form_pop_up {
    background-color: transparent;
  }


  .custom-input {
    display: flex;
    flex-direction: column;
  }

  .form-label {
    margin-bottom: 8px;
    color: white;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: $gray_20;
    color: white;
    border-bottom: 2px solid $primary-main;
    margin-bottom: 1.5rem;
  }

  .form-control.is-invalid {
    margin-bottom: 0.2rem;
    border-radius: 5px;
  }

  .form-control:focus {
    outline: 1px solid #007bff;
    background-color: $gray_30;
  }

  .form-control:focus.is-invalid {
    outline: none;

  }

  .is-invalid {
    border: 2px solid $danger_500;
    // border-color: #dc3545;
  }



  .warning_text_container {
    display: flex;
    justify-content: space-between;
    background-color: $danger_50;
    border-radius: 3px;
    padding: 3px 10px;
    color: #dc3545;
    margin-top: 5px;
    margin-bottom: 1rem;

    mat-icon {
      height: fit-content;
    }



  }


  .fields_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .field_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: $gray_55;
    width: 40%;
    border-radius: 2px;
    padding-left: 1rem;

    .field_name {
      margin-right: 1rem;
    }

    .delete_field_button {
      background-color: $gray_30;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.3rem;
      border-radius: 2px;

      &:hover {
        background-color: $danger_500;
        cursor: pointer;
      }
    }

  }

  .add_field_button_container {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .add_field_button {
    margin-bottom: 24px;
    width: 30px;
    // height: 30px;

    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: $primary-main;
  }



  .custom-input.row {
    flex-direction: row;
  }

  .input_is_component_container,
  .input_checkbox_container {
    margin-bottom: 1.5rem;
  }

  .is_component_checkbox,
  .is_component_checkbox_label,
  .checkbox_label,
  .checkbox {
    display: inline;
  }


  .is_component_checkbox,
  .checkbox {
    width: 20px;
    height: 20px;
    margin: 0 0 0 2rem;
  }

  .primary_button {
    margin-top: 2rem;
  }

  label {
    color: white;
    text-align: left;
  }


  .required_symbol {
    color: rgb(255, 72, 0);
  }

  .custom-select {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    appearance: none;
    width: 100%;
    -webkit-appearance: none;
    /* for Safari */
    -moz-appearance: none;
    /* for Firefox */
  }

  .custom-select:focus {
    border-color: #ff6600;
    outline: none;
  }

  .custom-select option:hover {
    background: #ff6600;
    color: #fff;
  }

  .custom-option {
    background-color: #333;
    color: #fff;
  }

  // Photos

  .add_photo_button_container {
    display: flex;

    button {
      margin-bottom: 24px;
      width: 2rem;
      border-radius: 5px;
    }
  }

  .photosContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin : 2rem 0 1rem;

    .photo {
      position: relative;
      width: 110px;
      height: 110px;
      border-radius: 5px;
      overflow: hidden;
      filter: $filter_background_for_products;

      .delete_button_absolute {
        position: absolute;
        right: -10px;
        top: -10px;
        margin: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: $gray_5;
        color: white;
        // border: 1px solid red;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }

  .send_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.password_input_container {
  position: relative;
  width: 100%;
}

.password_visibility_button {
  position: absolute;
  right: 3%;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  color: white;
}



.half_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;

  @include laptop {
    flex-direction: row;
  }

  .custom-input {

    flex: 0 1 1;

    @include laptop {
      flex: 0 1 calc(50% - 0.5rem);
    }

  }

}