
@import 'styles.scss';
@import '_media-queries.scss';


.admin_panel_table_main_container{
    width: 100%;
    margin-right: 1rem;
    background-color: $gray_15;
    border-radius: 10px;    
    padding: 0 2rem 2rem 2rem;
    color: white;

    h2.title{
        padding: 2rem 0 0rem 0;
    }

    h4.subtitle{
        margin-bottom: 2rem;
    }

    th{
        background-color: $gray_20;
        color: white;
    }



    .actions_buttons_container2{
        height: 100%;
    }
    .actions_buttons_container{
        gap: 0.5rem;
        margin: auto;        
    }

    .flex_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .actions_button{
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover{
            transform: translate(-1px, -1px);
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.365);
        }
        &:active{
            transform: translate(0px, 0px);
            box-shadow: none;
           
        }
    }
    .actions_button.delete_button{
        background-color: red;
        color: white;
        &:hover{
            background-color: rgb(223, 0, 0);
        }
        &:active{
            background-color: rgba(223, 0, 0, 0.67);
        }
    }
    .actions_button.update_button{
        background-color: green;
        color: white;
        &:hover{
            background-color: rgb(0, 144, 0);
        }
        &:active{
            background-color: rgb(26, 73, 26);
        }
    }

    mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    // Table

    table{
        width: 100%;
        border-spacing: 0; 
        overflow: hidden; 
        border: none;
    }
    
    th, td {
        padding: 4px ;
        text-align: left;border: 
        1px solid $gray_60; 
        border-collapse: collapse; 
        overflow: hidden; 
    }
    
    thead tr{
        background-color: $gray_20;
    }   

    tr:nth-child(even) {
        background-color: $gray_55;
    }

    tr:nth-child(odd) {
        
        background-color: $gray_30;
    }



    // Border Radius for table
    $table_border : 3px;
    thead tr td:first-child {
        border-top-left-radius: $table_border;
    }

    thead tr td:last-child {
        border-top-right-radius: $table_border;
    }
    
    tbody tr:last-child td:first-child{
        border-bottom-left-radius: $table_border;
    }

    tbody tr:last-child td:last-child{
        border-bottom-right-radius: $table_border;
    }

    // Table two children
    thead tr td.td_two_children {
        padding: 0;
        text-align: center;
        width: 8rem;
    
        div.td_children_container {
            display: flex;
            justify-content: center;
            border-top: 2px solid gray ;
    
            div.td_children {
                width: 50%;
                text-align: center;
                border-left:  1px solid gray ;
                border-right:  1px solid gray ;
            }
        }
    
    }


    .mat-mdc-paginator{
        margin-top: 2rem;
        background-color: $gray_30; ;
        color: white;
    }



}

::ng-deep {

    // paginator arrows (next and previous)
    .mat-mdc-paginator-icon{
        fill: white !important;
    }

    // paginator arrow
   .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
       color: white; 
   }
    // paginator arrow when is focus
   .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
       color: $gray_60 !important;
   }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: white !important;
    }
    
    // paginator number
    .mat-mdc-select-value-text {
        color: white !important; 
    }

    .mat-mdc-option .mdc-list-item .ng-tns-c1771602899-32 .ng-star-inserted{
        background-color: red;
    }

    div.mat-mdc-select-panel .mat-mdc-option {
        background-color: $gray_20;
        color: white !important;
    }

    // Quantity number hover
    .mat-mdc-select-panel-above div.mat-mdc-select-panel {
        background-color: $gray_20 !important; 
    }

    // Quantity number *Selected*
    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
        background-color: $gray_10 !important;
    }
    
    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
        color: rgb(255, 255, 255) !important;
    }

    .mat-mdc-select-panel-above div.mat-mdc-select-panel {
        background-color: $gray_30 !important;
    }

    //Container of select,
    div.mat-mdc-select-panel {
        padding: 0 !important;
    }
} 
