@import './pop-up-styles.scss';

.modal_container.modal_form {

    max-height: 70vh;
    overflow: hidden;
    padding: 0;

    @include tablet {
        padding: 2rem;
    }

    .form {
        overflow: auto;
        padding: 2rem 0;
        width: 90%;

         /* Ocultar la barra de scroll sin deshabilitar el scroll */
         scrollbar-width: none; /* Firefox */
         -ms-overflow-style: none;  /* Internet Explorer 10+ */
 
         &::-webkit-scrollbar {
             display: none; /* WebKit-based browsers (Chrome, Safari, etc.) */
         }
    }


}

