<section class="admin_panel_table_main_container">
    
    <h2 class="title"> Categorías </h2>
    <h4 class="subtitle">Lista de todas las categorías de Sector 7</h4>

    @if(categories$ && categories$.length > 0){    
        <table>
            <thead>
                <tr>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Acciones
                    </td>
                </tr>
            </thead>
            <tbody>
                @for(category of categories$ ; track category.id){
                <tr>
                    <td>
                        {{category.name}}
                    </td>
                    <td class="actions_buttons_container">
                        <div class="flex_container">
                            <button type="button" (click)="updateCategory(category.id)" class="actions_button update_button">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="actions_button delete_button" (click)="askToConfirmDelete(category.id)" >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    
        <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator> -->
    }
    
    @else {
        <app-input-danger-text text="No hay categorias"></app-input-danger-text>
    }


    @if (categoryDeletedSuccessfully) {
        <app-message-pop-up  custom_message='Categoría eliminada exitosamente' (close)="closeModal('categoryDeletedSuccessfully')" > </app-message-pop-up>
    }
    @if (categoryDeletionFailed) {
        <app-message-pop-up  custom_message='{{errorMessage}}' (close)="closeModal('categoryDeletionFailed')" > </app-message-pop-up>
    }

    @if(this.showUpdatePopUp){
        <app-categories-update-pop-up [category_id]="this.update_id" (close)="closeModal('showUpdatePopUp')"></app-categories-update-pop-up>
    }

    @if(this.showPopUpToConfirmDelete){
        <app-confirm-pop-up custom_message="¿Desea eliminar esta categoría?" 
        (confirm)="confirmDeleteAction()" 
        (close)="closeModal('showPopUpToConfirmDelete')"></app-confirm-pop-up>
    }
</section>