<section id="create_product_container">
    <h2>Crear un nuevo Producto</h2>

    <section class="form_container">
        <form (ngSubmit)="send()" [formGroup]="this.form" class="form">

            <!-- Nombre -->
            <div class="custom-input">
                <label class="form-label">Nombre: </label>
                <input type="text" formControlName="title" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'title', 'required') }">
            </div>
            @if( hasErrors(this.form,'title', 'required') ){ <app-input-danger-text
                text="El nombre del producto es requerida"></app-input-danger-text>
            }

            <!-- ID -->
            <div class="custom-input">
                <label class="form-label">Codigo o Identificador: </label>
                <input type="text" formControlName="id" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'id', 'required') }">
            </div>
            @if( hasErrors( this.form,'id', 'required') ){ <app-input-danger-text
                text="El id del producto es requerido"></app-input-danger-text>
            }

            <!-- Marca -->
            <div class="custom-input">
                <label class="form-label">Marca: </label>
                <input type="text" formControlName="brand" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'brand', 'required') }">
            </div>
            @if( hasErrors(this.form,'brand', 'required') ){ <app-input-danger-text
                text="La marca del producto es requerida"></app-input-danger-text>
            }



            <!-- Modelo -->
            <div class="custom-input">
                <label class="form-label">Modelo: </label>
                <input type="text" formControlName="model" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'model', 'required') }">
            </div>
            @if( hasErrors(this.form,'model', 'required') ){ <app-input-danger-text
                text="El modelo del producto es requerida"></app-input-danger-text>
            }


            <!-- Precio -->
            <div class="custom-input">
                <label class="form-label">Precio: </label>
                <input type="number" formControlName="price" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'price', 'required') }">
            </div>
            @if( hasErrors(this.form,'price', 'required') ){ <app-input-danger-text
                text="El precio del producto es requerida"></app-input-danger-text>
            }


            <!-- Actual Stock -->
            <div class="custom-input">
                <label class="form-label">Stock Real: </label>
                <input type="number" formControlName="actualStock" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'actualStock', 'required') }">
            </div>
            @if( hasErrors(this.form,'actualStock', 'required') ){ <app-input-danger-text
                text="El stock del producto es requerida"></app-input-danger-text>
            }


            <!-- Stock Visual -->
            <div class="custom-input">
                <label class="form-label">Stock Visual: </label>
                <input type="number" formControlName="viewStock" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'viewStock', 'required') }">
            </div>
            @if( hasErrors(this.form,'viewStock', 'required') ){ <app-input-danger-text
                text="El viewStock del producto es requerida"></app-input-danger-text>
            }

            

            <!-- Descipcion -->
            <div class="custom-input">
                <label class="form-label">Descripcion: </label>
                <textarea name="description" formControlName="description" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'description', 'required') }">
                </textarea>

            </div>
            @if( hasErrors(this.form,'description', 'required') ){ <app-input-danger-text
                text="La descripción del producto es requerida"></app-input-danger-text>
            }

            <!-- Habilitado -->
            <div class="custom-input row input_checkbox_container">
                <label class="form-label checkbox_label ">Esta Habilitado: </label>
                <input type="checkbox" formControlName="isEnabled" class="form-control checkbox">
            </div>


            <!-- Fotos -->
            <div class="custom-input">
                <label class="form-label">Fotos: </label>

                <div class="add_photo_button_container">
                    <input #photoInput formControlName="photos" type="text" class="form-control"
                        placeholder="link de la foto">

                    <button type="button" (click)="addPhoto()" class="btn btn-success add_field_button">+</button>
                </div>
                <div class="photosContainer">
                    @for (item of this.photosArray.value ; track $index) {
                    
                    <picture class="photo">
                        <button type="button" class="delete_button_absolute" (click)="deletePhoto($index)">
                            <mat-icon>close</mat-icon>
                        </button>
                        <img src="{{item}}" alt="photo">
                    </picture>
                    }
                </div>
            </div>

            <label>Categoria:</label>
            <select name="categoryId" formControlName="categoryId" (change)="onCategoryChange($event)" class="custom-select">
                <option value=""> </option>
                @for (category of categories$; track category.id) {
                    <option value="{{category.id}}"> {{category.name}} </option>
                }
            </select>


            <label class="form-label">Campos: </label>

            <div formArrayName="fieldsArray">
                <div *ngFor="let formControl of fieldsArray.controls; let i = index" [formGroupName]="i">
                    <div class="custom-input">
                        <label class="form-label">{{formControl.value.fieldName}}</label>
                        <div class="add_field_button_container">
                            <input formControlName="value" type="text" class="form-control" placeholder=" ">
                        </div>
                    </div>
                </div>
            </div>


            @if (productWasCreatedSuccessfully) {
            <app-message-pop-up custom_message='Producto Creado Exitosamente'
                (close)="closeModal('productWasCreatedSuccessfully')"> </app-message-pop-up>
            }
            @if (productHasError) {
            <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('productHasError')">
            </app-message-pop-up>
            }

            <button class="primary_button" [ngClass]="{'primary_button_disabled' : disabledFormButton(this.form)}"
                [disabled]="disabledFormButton(this.form)" type="submit">Enviar</button>

        </form>
    </section>


</section>