<section class="create_product_container">
    <h2>Crear un nuevo producto</h2>

    <section class="form_container">
        <form (ngSubmit)="send()" [formGroup]="this.form" class="form">

            <!-- Nombre -->
            <div class="custom-input">
                <label class="form-label">Nombre: </label>
                <input type="text" formControlName="title" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'title', 'required') }">
            </div>

            @if( hasErrors(this.form,'title', 'required') ){ <app-input-danger-text
                text="El nombre del producto es requerida"></app-input-danger-text>
            }

            <!-- ID -->
            <div class="custom-input">
                <label class="form-label">Número de serie: </label>
                <input type="text" formControlName="id" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'id', 'required') }">
            </div>
            @if( hasErrors( this.form,'id', 'required') ){ <app-input-danger-text
                text="El id del producto es requerido"></app-input-danger-text>
            }

            <!-- Marca -->
            <div class="custom-input">
                <label class="form-label">Marca: </label>
                <input type="text" formControlName="brand" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'brand', 'required') }">
            </div>
            @if( hasErrors(this.form,'brand', 'required') ){ <app-input-danger-text
                text="La marca del producto es requerida"></app-input-danger-text>
            }

            <!-- Modelo -->
            <div class="custom-input">
                <label class="form-label">Modelo: </label>
                <input type="text" formControlName="model" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'model', 'required') }">
            </div>
            @if( hasErrors(this.form,'model', 'required') ){ <app-input-danger-text
                text="El modelo del producto es requerida"></app-input-danger-text>
            }


            <!-- Precio -->
            <div class="custom-input">
                <label class="form-label">Precio: </label>
                <input type="number" formControlName="price" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'price', 'required') }">
            </div>
            @if( hasErrors(this.form,'price', 'required') ){ <app-input-danger-text
                text="El precio del producto es requerida"></app-input-danger-text>
            }

            <!-- Actual Stock -->
            <div class="custom-input">
                <label class="form-label">Stock real: </label>
                <input type="number" formControlName="actualStock" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'actualStock', 'required') }">
            </div>
            @if( hasErrors(this.form,'actualStock', 'required') ){ <app-input-danger-text
                text="El stock del producto es requerida"></app-input-danger-text>
            }

            <!-- Stock Visual -->
            <div class="custom-input">
                <label class="form-label">Stock visual: </label>
                <input type="number" formControlName="viewStock" required class="form-control"
                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'viewStock', 'required') }">
            </div>
            @if( hasErrors(this.form,'viewStock', 'required') ){ <app-input-danger-text
                text="El viewStock del producto es requerida"></app-input-danger-text>
            }

            <!-- Descipcion -->
            <div class="custom-input">
                <label class="form-label">Descripción: </label>
                <textarea name="description" formControlName="description"  class="form-control"
                   
                    
                    >
                </textarea>

            </div>
            <!-- @if( hasErrors(this.form,'description', 'required') ){ <app-input-danger-text
                text="La descripción del producto es requerida"></app-input-danger-text>
            } -->

            <!-- habilitado -->
            <div class="custom-input row input_checkbox_container">
                <label class="form-label checkbox_label ">Visible: </label>
                <input type="checkbox" formControlName="isEnabled" class=" checkbox">
            </div>

            <!-- fotos -->
            <label class="form-label checkbox_label ">Fotos: </label>
            <app-image-uploader (onFileUploaded)="addPhoto($event)" 
                                 [clearFileNameSignal]="clearFileNameSignal" 
                                 [disabled]="this.disableImageInput"
                                 [disabledText]="this.disableText"
                                 [isNecesaryOpenFileButton]="true"
            ></app-image-uploader>

            <div class="photosContainer">
            @for(photo of this.photosByteArrayString; track $index) {
                <picture class="photo">
                    <button type="button" class="delete_button_absolute" (click)="deletePhoto($index)">
                        <mat-icon>close</mat-icon>
                    </button>
                    <img src="{{photo}}" alt="photo">
                </picture>
            }
            </div>
            

            <label class="form-label">Categoría:</label>
            <select name="categoryId" formControlName="categoryId" (change)="onCategoryChange($event)"
                class="custom-select">
                <option value=""> </option>
                @for (category of categories$; track category.id) {
                    <option value="{{category.id}}"> {{category.name}} </option>
                }
            </select>


            <label class="form-label">Campos: </label>

            <div formArrayName="fieldsArray">
                <div *ngFor="let formControl of fieldsArray.controls; let i = index" [formGroupName]="i">
                   
                    <!-- Socket select -->
                    @if(formControl.value.fieldName == 'Socket'){
                        <div><label for="Socket">Socket</label></div>
                        <select 
                        formControlName="value" 
                        class="custom-select field">
                           @for( socket of sockets ; track $index) {
                               <option value="{{socket}}" > {{socket}} </option>
                           }
                        </select>
                    }
                    @else if(formControl.value.fieldName == 'Generación'){
                        <div><label for="Generation">Generación</label></div>
                        <select 
                        formControlName="value" 
                        class="custom-select field">
                           @for( generation of generations ; track $index) {
                               <option value="{{generation}}" > {{generation}} </option>
                           }
                        </select>
                    }
                    @else if(formControl.value.fieldName == 'Tipo de memoria'){
                        <div><label for="Tipo de memoria">Tipo de memoria</label></div>
                        <select 
                        formControlName="value" 
                        class="custom-select field">
                           @for( memory_type of memory_types ; track $index) {
                               <option value="{{memory_type}}" > {{memory_type}} </option>
                           }
                        </select>
                    }
                    @else {
                        <!-- any other field -->
                        <div class="custom-input">
                            <label class="form-label">{{formControl.value.fieldName}}</label>
                            <div class="add_field_button_container">
                                <input formControlName="value" type="text" class="form-control" placeholder=" ">
                            </div>
                        </div>
                    }
                    
                    

                </div>
            </div>


            @if (productWasCreatedSuccessfully) {
            <app-message-pop-up custom_message='Producto creado exitosamente'
                (close)="closeModal('productWasCreatedSuccessfully')"> </app-message-pop-up>
            }
            @if (productHasError) {
            <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('productHasError')">
            </app-message-pop-up>
            }

            <button 
            class="primary_button" 
            [ngClass]="{'primary_button_disabled' : disabledFormButton(this.form)}"
            [disabled]="disabledFormButton(this.form)" 
            type="submit">Enviar</button>

        </form>
    </section>

    @if (isLoading) {
        <app-spinner-s7></app-spinner-s7>
    }


</section>