@import 'styles.scss';

.create_product_container{

    .custom-select{
        margin-bottom: 2rem;
    
    }
    
    .custom-select.field{
        margin-bottom: 0.5rem;

        
    }

    .form-label{
        margin-bottom: 1rem;
    }
}

