<main class="shopping_cart_container">
    <div class="cards_container">
        @for (product of products; track $index) {
        <div class="shopping_cart_item_container">
            <picture class="product_image">
                <img [src]="product.photoUrl" alt="producto: {{product.title}}">
            </picture>
            <div class="side_text_container">
                <div class="shopping_cart_item_name">
                    <p [routerLink]="['/product-details', product.productId]">{{product.title}}</p>
                </div>
                <button (click)="deleteProduct(product.id)" class="delete_button">Eliminar</button>
                <div class="shopping_cart_item_quantity_container">
                    <button (click)="removeQuantity(product , $index)" class="quantity_button quantity_button_left">
                        <mat-icon>remove</mat-icon>
                    </button>
    
                    <div class="quantity_number"> {{product.quantity}} </div>

                    <button (click)="addQuantity(product , $index)" class="quantity_button quantity_button_right ">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>  
                <div class="shopping_cart_item_stock">
                    <span>{{product.stock}} disponibles</span>
                </div>
                <p class="shopping_cart_item_price">{{product.price | customCurrency}}</p>
            </div>
        </div>
        }
        @empty {
        <div class="empty_cart_message_container">
            <div class="empty_cart_message">
                <p>No hay productos en el carrito</p>
                <button class="primary_button" routerLink="/search">Quiero Elegir</button>
            </div>
        </div>
        }
    </div>

    @if (products && products.length > 0) {
        <div class="cart_summary_container">
            <h3>Resumen de compra</h3>
            <div class="divider"></div>
            <div class="cart_summary_item">
                <p class="total_products_in_cart ">Productos: ({{products.length}})</p>
                <p>{{this.totalPrice |customCurrency}}</p>
            </div>
            @if(shipping){
                <div class="shipping_container cart_summary_item">
                    <p>Envío: </p>
                    <p class="shipping_price"> {{shippingValue |customCurrency}}</p>
                </div>
            }
            <div class="cart_summary_item cart_final_price">
                <b class="total_price ">Total: </b>
                <b class="total_price ">{{ (totalPrice + shippingValue) |customCurrency }}</b>
            </div>
            <button class="primary_button" (click)="sendToChoiceDeliveryMethod()">Continuar compra</button>
        </div>
    }
    @if (showMustLoginPopUp) {
        <app-confirm-pop-up [custom_message]="'Necesita estar logueado para realizar esta acción'" [buttonConfirmText]="'Iniciar Sesión'" (close)="closePopUp('showMustLoginPopUp')" (confirm)="sendToLogin()"></app-confirm-pop-up>
    }
</main>