@import '../../../../media-queries';
@import '../../../../styles';

main.shopping_cart_container {
    background-color: $background;
    position: relative;
    max-width: 1440px;
    margin: auto;
    min-height: 100vh;
    padding-top: 1rem;
    
    @include laptop {
        display: flex;

    }

    .cards_container {
        flex: 1;
        max-height: 80vh;
        /* Establece la altura máxima en el 80% de la altura de la ventana */
        overflow-y: auto;
        /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */

        @include laptop {
            overflow-y: inherit;
            max-height: none;
            width: 60%;
        }

        .shopping_cart_item_container {
            display: flex;
            flex-wrap: wrap;
            color: white;
            padding: 1rem 5%;
            background-color: #404040;
            border-radius: 5px;
            width: 90%;
            margin: auto;
            margin-top: 3rem;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 35vh;

                @include laptop {
                    margin-bottom: 3rem;
                }
            }

            .product_image {
                width: 30%;
                margin: auto;
                filter: $filter_background_for_products;
                display: flex;
                justify-content: center;
                align-self: center;

                @include tablet {
                    width: min(30%, 150px);
                }

                // @include laptop {
                //     height: fit-content;
                // }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }


            }

            .side_text_container {
                flex: 1;
                width: 70%;

                @include laptop {
                    width: 70%;
                }

                .shopping_cart_item_name {
                    margin-bottom: 0.7rem;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    display: -webkit-box;
                        -webkit-line-clamp: 2; /* Número máximo de líneas */
                        -webkit-box-orient: vertical;

                    @include laptop {
                        width: 80%;
                    }
                }
            }

            .delete_button {
                margin-bottom: 0.7rem;
                color: $primary-main;
                background-color: transparent;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .shopping_cart_item_quantity_container {
                margin-bottom: 0.7rem;
                display: flex;
                $color_for_quantity_element: #323232;
                $border_color_for_quantity_element: #282828;

                .quantity_button {
                    color: white;
                    border: 1px solid $border_color_for_quantity_element;
                    background-color: $color_for_quantity_element;

                    &:hover {
                        cursor: pointer;
                        background-color: $primary-l1;
                        background-color: $primary-main;
                    }

                    mat-icon {
                        background-color: transparent;
                        display: flex;
                        height: fit-content;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }

                .quantity_button_left {
                    border-radius: 15% 0 0 15%;
                }

                .quantity_button_right {
                    border-radius: 0 15% 15% 0;
                }

                .quantity_number {
                    width: 2rem;
                    border: 1px solid $border_color_for_quantity_element;
                    text-align: center;
                    background-color: $color_for_quantity_element;
                }
            }

            .shopping_cart_item_price {
                margin-bottom: 0;
                text-align: end;
            }
        }

    }

    .empty_cart_message_container {
        width: 100%;
        height: 30vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .empty_cart_message {
        width: min(80%, 400px);
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: rgb(33, 33, 33);
        border: 2px solid $primary-main;
        box-shadow: $shadow_1_3;
    }


    .cart_summary_container{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1rem 0 1rem 0;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 8px solid $primary-main;


        @include laptop {
            position: relative;
            height: fit-content;
            border-radius: 8px;
            margin-right: 2rem;
            padding: 2rem 0;
            width: min(300px, 40%);
        }

        .divider {
            width: 90%;
            height: 1px;
            background-color: $acromatic-100;
            margin-bottom: 1rem;
        }


        .cart_summary_item {
            color: black;
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin-bottom: 1rem;
            }

        .cart_final_price {
            font-weight: 600;
        }
    }

}