<main class="user_account_main_container">

    <div class="user_account_dashboard_container "  [ngClass]="{'isDashboardView': isDashboardView}">
        
        <!-- Side Bar Left top section -->
        <section class="user_account_top_section">
            <picture class="image_container">
                @if(user){
                    <img [src]="user.presignedUrlPhoto" alt="user photo">
                }
            </picture>
            <div>
                <p>Hola, </p>
               @if(user){<h3>{{user.firstname}}</h3>}
            </div>
        </section>

        <!-- Side Bar Left Links section  -->
        <section class="user_account_actions_section">
            <ul>
                <li routerLink="profile" routerLinkActive="active">
                    <a>Mi Perfil</a>
                </li>
                <li routerLink="orders" routerLinkActive="active">
                    <a >Pedidos</a>
                </li>
                <li routerLink="change-password" routerLinkActive="active">
                    <a >Cambiar contraseña</a>
                </li>
                <!-- <li>
                    <a routerLink="favorites" routerLinkActive="active" >Favoritos(idea)</a>
                </li> -->
                <li (click)="logout()">
                    <a >Salir</a>
                </li>
            </ul>
        </section>
    </div>

    @if(isDashboardView){
        <app-user-profile class="user_profile_just_high_screens"></app-user-profile>
    }@else {
        <div class="router_oulet">
            <router-outlet ></router-outlet>
        </div>
    }


</main>