@import 'styles.scss';

$heigh_path_line: 30px;
$height_point_outside: 25px;
$heigh_path_line_checked: $heigh_path_line+25px;
$width_for_path_line_and_point : 40px;


.build_your_pc_main_container {
    max-width: 1440px;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;

    .build_your_pc_top_banner{
        grid-column: 1 / span 12;
        width: 100%;
        height: 115px;
    }
    .path_desktop_container{
        grid-column: 1 / span 4;
    }
    .content_container{
        grid-column: 1 / span 12;
        

        @include tablet{
            padding: 0 0rem;

        }
        @include laptop{
            grid-column: 5 / span 8;
        }
    }

    .cards_container{
        height: fit-content;
    }

    .title_choice_your_item{
        margin: 0 0 0.5rem 0;
        @include gradient-text;
        padding-left: 10px;
    }

    .divider_gradient{
        height: 4px;
        width: 80%;
        margin-bottom: 2rem;
        @include gradient_orange_yellow_left_to_right;
    }

    .fourth_button_border{
        width: 100%;
        @include gradient_orange_yellow_left_to_right;
        width: 80%;
        padding: 4px;
        border-radius: 16px;
        margin: auto;
        max-width: 400px;
        margin-bottom: 2rem;
    }
    .fourth_button {
        // border: 4px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        @include gradient_gray_to_black_top_to_bottom; // background
        // border-image: linear-gradient(to right, rgb(255, 72, 0), orange) 1;
        // border
        margin: auto;
        border-radius: 16px;
        padding: 5px 7% ;
        p{ 
            @include gradient-text; // text
            font-size: 1.2rem;
            font-weight: bolder;
            margin: 0;
            
        }
        .arrow_drop_down{
            display: flex;
            
            font-size: 2.5rem;
            @include gradient-text;
        }
    }
    

    .path_mobile_container {
        position: absolute;
        top: 0;
        width: 100vw;
        @include laptop {
            display: none;
        }
    }
    
}