<main class="build_your_pc_main_container">

    <!-- menu with path in MOBILE -->
    <div class="path_mobile_container">
        <app-steps-of-the-paths class="" [show]="showMenuInMobile" (close)="toggleMenu()"></app-steps-of-the-paths>
    </div>

    <img src="assets/images/build-your-pc/build-your-pc-top-banner.png" alt="" class="build_your_pc_top_banner">

    <!-- left part in Desktop -->
    <!-- menu with path in DESKTOP -->
    <div class="path_desktop_container show_in_laptop_desktop">
        <app-steps-of-the-paths class="steps_in_desktop_only" [show]="true"></app-steps-of-the-paths>
    </div>

    <!-- right part in Desktop and full in Mobile -->
    <div class="content_container">
        <h2 class="title_choice_your_item">Elegi tu Disco Rigido</h2>
        <div class="divider_gradient"></div>

        <!-- Button just for mobile -->
        <div class="fourth_button_border show_in_mobile_tablet">
            <button type="button" class="fourth_button" (click)="toggleMenu()">
                <p>Mi Avance</p> <mat-icon class="arrow_drop_down">arrow_drop_down</mat-icon>
            </button>
        </div>

        <div class="cards_container">
            @for( item of this.items ; track $index){
                <app-two-colors-card [selected]="item.selected"></app-two-colors-card>
            }
        </div>
    </div>









</main>


<app-footer></app-footer>