<main class="build_your_pc_main_container">

    <!-- @if( currentPath){ -->
        <!-- menu with path in MOBILE -->
        <div class="path_mobile_container">
            <app-steps-of-the-paths class="" [show]="showMenuInMobile" (close)="toggleMenu() "></app-steps-of-the-paths>
        </div>
    <!-- } -->

    <div class="build_your_pc_top_banner">
        <img src="assets/images/build-your-pc/build_your_pc_top_banner_background.png" alt="construi tu pc top banner" >
        <h1 class="title_build_your_pc">ARMA <span>TU PC</span></h1>
    </div>

    <!-- left part in Desktop -->
    <!-- menu with path in DESKTOP -->
    <!-- @if(currentPath){ -->
        <div class="path_desktop_container show_in_laptop_desktop">
            <app-steps-of-the-paths  [show]="true" ></app-steps-of-the-paths>
        </div>
    <!-- } -->

    <!-- right part in Desktop and full in Mobile -->
    <div class="content_container">
        @if(this.section.toLowerCase() === 'auriculares'){
            <h1 class="title_choice_your_item">
                Elegí tus {{titleWord}}
            </h1>

        }@else {
            <h1 class="title_choice_your_item">
                Elegí tu {{titleWord}}
            </h1>
        }
        <div class="divider_gradient"></div>

        <!-- Button just for mobile -->
        <div class="fourth_button_border show_in_mobile_tablet">
            <button type="button" class="fourth_button" (click)="toggleMenu()">
                <p>Mi Avance</p> <mat-icon class="arrow_drop_down">arrow_drop_down</mat-icon>
            </button>
        </div>
        <!-- Button just for mobile -->


        <div class="cards_container">
            <app-build-your-pc-cards-content>   </app-build-your-pc-cards-content>
        </div>
    </div>









</main>


<app-footer></app-footer>