<div class="amd-vs-intel-section-container">
    <div class="fight-container">
        <div  class="amd"  (click)="toggleAmd()" [ngClass]="{'moveAmd' : move, 'blinkAmd':amdIsActive, }">
            <picture class="amd-logo-container"></picture>
        </div>
        <div class="intel" (click)="toggleIntel()" [ngClass]="{'moveIntel' : move2, 'blinkIntel':intelIsActive } " >
            <picture class="intel-logo-container"></picture>
        </div>
    </div>

    @if(this.showChangeProcessorAlert){
        <app-confirm-pop-up custom_message="La linea seleccionada no corresponde con el procesador previamente seleccionado, desea cambiarlo?" (confirm)="removeDependentComponents()" (close)="closeModal('showChangeProcessorAlert')"></app-confirm-pop-up>
    }
</div>