@import 'styles.scss';
@import '_media-queries.scss';

.modal_container.update_pop_up {

    @include tablet {
        width: 90%;
    }

    @include laptop {
        width: calc(100% - 300px);
    }

    @include desktop {
        width: 1000px;
    }
    
    top: 55%;

    .form {
        max-width: 100% !important;
        height: 70vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}


