<div class="overlay">
    @if(this.product$){

    <ng-container>
        <div class="modal_container update_pop_up modal_form" >
            <span class="modal_close_button" (click)="closeUpdateModal()">&times;</span>
            <div class="modal_info">

                <!-- Form -->
                <section class="form_container">
                    <form (ngSubmit)="send()" [formGroup]="this.form" class="form form_pop_up">

                        <!-- Nombre -->
                        <div class="custom-input">
                            <label class="form-label">Titulo: </label>
                            <input type="text" formControlName="title" required class="form-control"
                                [ngClass]="{ 'is-invalid': hasErrors(this.form,'title', 'required') }">
                            @if( hasErrors(this.form,'title', 'required') ){ <app-input-danger-text
                                text="El nombre del producto es requerido"></app-input-danger-text>
                            }
                        </div>

                        <!-- Descipcion -->
                        <div class="custom-input">
                            <label class="form-label">Descripción: </label>
                            <textarea name="description" formControlName="description" required class="form-control"
                                [ngClass]="{ 'is-invalid': hasErrors(this.form,'title', 'required') }">
                            </textarea>
                            @if( hasErrors(this.form,'title', 'required') ){ <app-input-danger-text
                                text="La descripción del producto es requerida"></app-input-danger-text>
                            }
                        </div>


                        <div class="half_container">

                            <!-- Marca -->
                            <div class="custom-input">
                                <label class="form-label">Marca: </label>
                                <input type="text" formControlName="brand" required class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'brand', 'required') }">
                                @if( hasErrors(this.form,'brand', 'required') ){ <app-input-danger-text
                                    text="La marca del producto es requerida"></app-input-danger-text>
                                }
                            </div>


                            <!-- Modelo -->
                            <div class="custom-input">
                                <label class="form-label">Modelo: </label>
                                <input type="text" formControlName="model" required class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'model', 'required') }">
                                @if( hasErrors(this.form,'model', 'required') ){ <app-input-danger-text
                                    text="El modelo del producto es requerido"></app-input-danger-text>
                                }
                            </div>

                            <!-- Actual Stock -->
                            <div class="custom-input">
                                <label class="form-label">Stock real: </label>
                                <input type="number" formControlName="actualStock" required class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'actualStock', 'required') }">
                                @if( hasErrors(this.form,'actualStock', 'required') ){ <app-input-danger-text
                                    text="El stock real del producto es requerido"></app-input-danger-text>
                                }
                            </div>


                            <!-- Stock Visual -->
                            <div class="custom-input">
                                <label class="form-label">Stock visual: </label>
                                <input type="number" formControlName="viewStock" required class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'viewStock', 'required') }">
                                @if( hasErrors(this.form,'viewStock', 'required') ){ <app-input-danger-text
                                    text="El stock visual del producto es requerido"></app-input-danger-text>
                                }
                            </div>

                            <!-- Precio -->
                            <div class="custom-input">
                                <label class="form-label">Precio: </label>
                                <input type="number" formControlName="price" required class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'price', 'required') }">

                                @if( hasErrors(this.form,'price', 'required') ){ <app-input-danger-text
                                    text="El precio del producto es requerido"></app-input-danger-text>
                                }
                            </div>
                        </div>




                        <div class="half_container">
                            <!-- Habilitado -->
                            <div class="custom-input row input_checkbox_container">
                                <label class="form-label checkbox_label ">Habilitado: </label>
                                <input type="checkbox" formControlName="isEnabled" class="form-control checkbox">
                            </div>

                            <!-- Aprovado -->
                            <div class="custom-input row input_checkbox_container">
                                <label class="form-label checkbox_label ">Aprobado: </label>
                                <input type="checkbox" formControlName="isApproved" class="form-control checkbox">
                            </div>

                        </div>




                        <!-- fotos -->
                        <div class="custom-input">
                            <label class="form-label">Fotos: </label>

                            <app-image-uploader (onFileUploaded)="addPhoto($event)"></app-image-uploader>

                            <!-- <div class="add_photo_button_container">
                                <input #photoInput type="text" class="form-control"
                                    placeholder="link de la foto">

                            </div> -->
                            <div class="photosContainer">
                                @for (item of photosArray ; track $index) {

                                <picture class="photo">
                                    <button type="button" class="delete_button_absolute" (click)="deletePhoto($index)">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <img [src]="item" alt="photo">
                                </picture>
                                }
                            </div>
                        </div>

                        <div class="half_container">
                            <label class="form-label">Categoria del producto:</label>
                            <div> {{categoryName}} </div>
                        </div>

                        <label class="form-label">Campos: </label>

                        <!-- <div formArrayName="fieldsArray">
                            <div *ngFor="let formControl of fieldsArray.controls; let i = index" [formGroupName]="i">
                                <div class="custom-input">
                                    <label class="form-label">{{formControl.value.fieldName}}</label>
                                    <div class="add_field_button_container">
                                        <input formControlName="value" type="text" class="form-control" placeholder=" ">
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div formArrayName="fieldsArray">
                            <div *ngFor="let formControl of fieldsArray.controls; let i = index" [formGroupName]="i">
                               
                                <!-- Socket select -->
                                @if(formControl.value.fieldName == 'Socket'){
                                    <div><label for="Socket">Socket:</label></div>
                                    <select 
                                    formControlName="value" 
                                    class="custom-select field">
                                       @for( socket of sockets ; track $index) {
                                           <option value="{{socket}}" > {{socket}} </option>
                                       }
                                    </select>
                                }
                                @else if(formControl.value.fieldName == 'Generación'){
                                    <div><label for="Generation">Generación:</label></div>
                                    <select 
                                    formControlName="value" 
                                    class="custom-select field">
                                       @for( generation of generations ; track $index) {
                                           <option value="{{generation}}" > {{generation}} </option>
                                       }
                                    </select>
                                }
                                @else if(formControl.value.fieldName == 'Tipo de memoria'){
                                    <div><label for="Tipo de memoria">Tipo de memoria:</label></div>
                                    <select 
                                    formControlName="value" 
                                    class="custom-select field">
                                       @for( memory_type of memory_types ; track $index) {
                                           <option value="{{memory_type}}" > {{memory_type}} </option>
                                       }
                                    </select>
                                }

                                @else {
                                    <!-- any other field -->
                                    <div class="custom-input">
                                        <label class="form-label">{{formControl.value.fieldName}}</label>
                                        <div class="add_field_button_container">
                                            <input formControlName="value" type="text" class="form-control" placeholder=" ">
                                        </div>
                                    </div>
                                }
            
                            </div>
                        </div>



                        @if (productUpdatedSuccessfully) {
                        <app-message-pop-up custom_message='Producto Modificado Exitosamente'
                            (close)="closeMessageModal('productUpdatedSuccessfully')">
                        </app-message-pop-up>
                        }
                        @if (productUpdateFailed) {
                        <app-message-pop-up custom_message='{{errorMessage}}'
                            (close)="closeMessageModal('productUpdateFailed')">
                        </app-message-pop-up>
                        }

                        <button class="primary_button"
                            [ngClass]="{'primary_button_disabled' : disabledFormButton(this.form)}"
                            [disabled]="disabledFormButton(this.form)" type="submit">Enviar</button>

                    </form>
                </section>




                @if(loading){
                    <app-spinner-s7></app-spinner-s7>
                }








            </div>
        </div>

    </ng-container>
    }@else {
    <div>
        <app-input-danger-text text="Producto no encontrado"></app-input-danger-text>
    </div>
    }
</div>