<main class="recover_user_main_container">
    <section class="container">




        <form [formGroup]="this.form" class="form" (ngSubmit)="send()"> 
            <h2>Recuperar Contraseña</h2>
            <label for="email" class="form-label">
                <p>Ingresa tu correo electrónico</p>
            </label>
            <div class="custom-input">
                <input type="text" 
                formControlName="email"
                 placeholder="Correo electrónico"
                class="form-control" 
                [ngClass]="{ 'is-invalid': hasErrors(this.form,'email', 'required') }"
                >
            </div>
            @if(hasErrors(this.form,'email', 'required') ){ <app-input-danger-text
                text="El email es requerido"></app-input-danger-text>
            }
            @if(hasErrors(this.form,'email', 'email') ){ <app-input-danger-text
                text="El formato del mail es inválido"></app-input-danger-text>
            }

            <label for="user" class="form-label">
                <p>Ingresa Usuario</p>
            </label>
            <div class="custom-input">
                <input type="text" 
                formControlName="user"
                 placeholder="Usuario"
                class="form-control" 
                [ngClass]="{ 'is-invalid': hasErrors(this.form,'user', 'required') }"
                >
            </div>
            @if(hasErrors(this.form,'user', 'required') ){ <app-input-danger-text
                text="El usuario es requerido"></app-input-danger-text>
            }
            <button class="primary_button" [ngClass]="{'primary_button_disabled' : disabledFormButton(this.form)}"
                [disabled]="disabledFormButton(this.form)" type="submit">Enviar
            </button>
        </form>

        @if(showSuccessPopUp){

            <app-message-pop-up custom_message='{{successMessage}}' (close)="closeModal('showSuccessPopUp')">
            </app-message-pop-up>
        }
        @if(showFailedPopUp){
            <app-message-pop-up custom_message='{{errorMessage}}' (close)="closeModal('showFailedPopUp')">
            </app-message-pop-up>
        }
    </section>
</main>