@import '../../../../media-queries';
@import '../../../../styles';

// Use this clases to make the component reusable
.place_header{
    // width: 100px;
    // height: 100px;
}
// .place_body{

// }

.search_bar_container{
    background-color: green;
    height: inherit;
}

.fixed {
    height: $height_for_toolbar_fixed;
}

.no-fixed {
    height: $height_for_toolbar_no_fixed;
}

