<main class="login_main_container">
    <section class="logo_section">
        <picture class="compressed_logo">
            <img src="../../../../assets/images/logos/Sector7LogoSmall_without_background.png" alt="Sector 7 Logo">
        </picture>
        <picture class="full_logo">
            <img src="../../../../assets/images/logos/Sector7LogoLarge.png" alt="Sector 7 Large Logo ">
        </picture>
    </section>
    
    <section class="form_section">
        <h2>Iniciar Sesion</h2>
        <form class="login_form" (ngSubmit)="login()" [formGroup]="LoginForm">
            <input type="text" formControlName="username"  placeholder="Nombre de usuario" class="input_text">
            
            <div class="password_input_container">
                <input [type]="passwordVisible" formControlName="password"  placeholder="Contraseña" class="input_text " >
                <button type="button" class="password_visibility_button">
                    <mat-icon (click)="changePasswordVisibility()" class="password_visibility_icon">
                        {{passwordVisible === 'password' ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                </button>
            </div>
            @if (requestHasError) {
                <small class="text-danger" >Usuario o contraseña incorrectos</small>
            }
            <input type="submit" class="primary_button" value="Iniciar Sesión">
        </form>

        <div>
            <p class="question_for_forget_password" [routerLink]="['recover-password']">¿Olvidaste tu contraseña?</p>
        </div>

        <div>
            <p class="question_for_forget_password" [routerLink]="['recover-user']">¿Olvidaste tu usuario ?</p>
        </div>
    
        <h3 class="question_for_account">
            ¿No tienes una cuenta?
        </h3>
        
        <button class="primary_button" [routerLink]="['register']" >¡Regístrate!</button>

    </section>
    
</main>