@import '../../../../styles.scss';
@import '../../../../media-queries';
@import '../../../shared/styles/input_styles.scss';

.login_main_container{
    color: white;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - $height_helper);
    padding: 3rem 0% 0;
    @include laptop{
        flex-direction: row;
        padding: 5rem 15% 0;
        align-items: start;
    }

    .logo_section{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;        
        background-color: black;
        width: 50%;

        .compressed_logo{
            width: 250px;
            img{
                width: 100%;
            }
            @include laptop{
                width: min(100% , 400px);
            }

        }
        .full_logo{
            margin-top: 1rem;
            width: 200px;
            img{
                width: 100%;
            }
        }
    }    
    .form_section{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            margin-top: 3rem;

            @include laptop{
                margin-top: 0;
            }
        }
        .login_form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            margin-bottom: 1.5rem;

            input.input_text {
                width: 80%;
            }

            input.primary_button{
                width: 9rem;
            }

            .password_input_container{
                position: relative;
                width: 100%;
            }
            .password_visibility_button{
                position: absolute;
                right: 15%; 
                top: 10px;
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                color: black;
            }
            
        }

        input.primary_button , button.primary_button{
            border-radius: 20px;
            margin-top: 1rem;
        }

        button.primary_button{
            width: 8rem;
        }
        

        .question_for_forget_password{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }

        .question_for_account{
            margin-top: 1.5rem;
            margin-bottom: 0;
        }
    }
}