<div class="overlay">
    <ng-container>
        <div class="modal_container update_pop_up modal_form">
            <span class="modal_close_button" (click)="closeUpdateModal()">&times;</span>
            <div class="modal_info">
                <section class="form_container">
                    
                    <form [formGroup]="this.form" (ngSubmit)="send($event)" class="form form_pop_up">
                        <div class="half_container">
                            <div class="custom-input">
                                <label for="province" class="form-label">
                                    Provincia<span class="required_symbol"> *</span>
                                </label>
                                <input type="text" formControlName="province" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'province', 'required') }">
                                @if( hasErrors(this.form,'province', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>
                            <div class="custom-input">
                                <label for="city" class="form-label">
                                    Ciudad<span class="required_symbol"> *</span>
                                </label>
                                <input type="text" formControlName="city" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'city', 'required') }">
                                @if( hasErrors(this.form,'city', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>
                            <div class="custom-input">
                                <label for="streetName" class="form-label">
                                    Calle<span class="required_symbol"> *</span>
                                </label>
                                <input type="text" formControlName="streetName" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'streetName', 'required') }">
                                @if( hasErrors(this.form,'streetName', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>

                            <div class="custom-input">
                                <label for="streetNumber" class="form-label">
                                    Número<span class="required_symbol"> *</span>
                                </label>
                                <input type="number" min="0" max="50000" formControlName="streetNumber" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'streetNumber', 'required') }">
                                @if( hasErrors(this.form,'streetNumber', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>

                            <div class="custom-input">
                                <label for="floor" class="form-label">Piso</label>
                                <input type="number" formControlName="floor" min="0" max="999" class="form-control">
                            </div>

                            <div class="custom-input">
                                <label for="door" class="form-label">Puerta</label>
                                <input type="text" formControlName="door" class="form-control">
                            </div>

                           
                           
                            <div class="custom-input">
                                <label for="zipCode" class="form-label">
                                    Código Postal
                                    <span class="required_symbol"> *</span>
                                </label>
                                <input type="number" formControlName="zipCode" class="form-control"
                                    [ngClass]="{ 'is-invalid': hasErrors(this.form,'zipCode', 'required') }">
                                @if( hasErrors(this.form,'zipCode', 'required') ){ <app-input-danger-text
                                    text="Campo requerido"></app-input-danger-text>
                                }
                            </div>
                        </div>

                        <button class="primary_button"
                        [ngClass]="{'primary_button_disabled' : disabledFormButton(this.form)}"
                        [disabled]="disabledFormButton(this.form)" type="submit">Enviar</button>
                    </form>

                </section>
            </div>
        </div>
    </ng-container>
</div>