@import 'styles.scss';
@import '_media-queries.scss';


.purchase_success_main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 4rem;
}