/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "./media-queries";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
}

// fonts and color variables 

$gradient-orange-yellow-1: linear-gradient(78deg, #ff4d00 9.86%, #ff9900 100%); 

$warning-50: #fdf5e8; 
$warning-100: #f8deb8; 
$warning-200: #f4cf96; 
$warning-300: #f0b966; 
$warning-400: #edab49; 
$warning-500: #e8961b; 
$warning-600: #d38919; 
$warning-700: #a56b13; 
$warning-800: #80530f; 
$warning-900: #613f0b; 

$acromatic-50: #e9e9ec; 
$acromatic-100: #babbc4; 
$acromatic-200: #989ba8; 
$acromatic-300: #696d80; 
$acromatic-400: #4c5167; 
$acromatic-500: #1f2541; 
$acromatic-600: #1c223b; 
$acromatic-700: #161a2e; 
$acromatic-800: #111424; 
$acromatic-900: #0d101b; 
$background: #000000;

$primary-l1: #f07f66; 
$primary-l2: #f4a796; 
$primary-l3: #f8c4b8; 
$primary-main: #e8401b; 
$primary-s1: #d33a19; 
$primary-s2: #a52d13; 
$primary-s3: #80230f; 

//fonts
$mobile-h1: 700 2rem/normal Klavika; 
$mobile-h1italic: bold italic 2rem/normal Klavika; 
$mobile-h2: 700 1.5rem/normal Klavika; 
$mobile-h2italic: bold italic 1.5rem/normal Klavika; 
$mobile-h3: 700 1.125rem/normal Klavika; 
$mobile-h3italic: bold italic 1.125rem/normal Klavika; 
$mobile-normal: 400 1rem/1.5rem Raleway; 
$mobilenormalmeddium: 500 1rem/normal Raleway; 
$mobilenormalsemi-bold: 600 1rem/normal Raleway; 
$mobilenormalbold: 700 1rem/normal Raleway; 
$mobilenormalextrabold: extrabold 1rem/normal Raleway; 
$mobile-h4: 700 1rem/normal Klavika; 
$mobile-small-text: 400 0.6875rem/normal Raleway; 


$success-50: #e9feec;
$success-100: #bbfac5;
$success-200: #9bf8a9;
$success-300: #6df582;
$success-400: #51f36a;
$success-500: #25f045;
$success-600: #22da3f;
$success-700: #1aaa31;
$success-800: #148426;
$success-900: #10651d;


$danger-50: #feece9;
$danger-100: #fac3bb;
$danger-200: #f8a69b;
$danger-300: #f57d6d;
$danger-400: #f36451;
$danger-500: #f03d25;
$danger-600: #da3822;
$danger-700: #aa2b1a;
$danger-800: #842214;
$danger-900: #651a10;

$info-50: #e9f5fe;
$info-100: #bbe0fa;
$info-200: #9bd1f8;
$info-300: #6dbcf5;
$info-400: #51aff3;
$info-500: #259bf0;
$info-600: #228dda;
$info-700: #1a6eaa;
$info-800: #145584;
$info-900: #104165;


// Buttons
// $btn-shadow : 1px, 3px,4px,rgb(0, 0, 0, 0.25);


a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}


// Scroll Bar 
@media screen {
  @media (max-width: 767px) {
    ::-webkit-scrollbar {
      display: none;
      /* Ocultar la barra de desplazamiento en dispositivos móviles */
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-l2;
    border-radius: 10px;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-main;
  }


}

h2{
  font: $mobile-h2;
  color: rgb(255, 255, 255);
}

h2.italic{
  font: $mobile-h2italic;
}

h3{
  font: $mobile-h3;
}
h3.italic{
  font: $mobile-h3italic;
}

h4{
  font: $mobile-h4;
}

$max_width_container:1440px;

.primary-button{

  color: white;
  
  padding: 8px 10px;

  background-image: linear-gradient(160deg, #51bef3 20%, #1877F2 150%); 
  border-radius: 4px;
  box-shadow: 3px, 1px, 4px, rgb(0, 0, 0,0.25);

  font-size: .8rem;


  @include tablet{
      padding: 8px 15px;
  }

  @include laptop{
      padding: 10px 22px;
      font-size: 1rem;
  }

  @include desktop{
      padding: 10px 25px;
      font-size: 1rem;
  }

  transition: background-color 0.3s ease; /* Agregar una transición suave */
  
}

.primary-button:hover{
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.283);
  background-image: linear-gradient(160deg, #2dacec 20%, #046efa 150%); /* Mantén el gradiente original */
}