<main class="user_account_children_main_container">
<app-top-button-return class="top_button_return" path="user-account"></app-top-button-return>
    <h1 class="title">Perfil</h1>
    <section class="user_account_data_section">

        @if(user){
            <div class="user_data_field">
                <label class="user_data_field_label">Nombre</label>
                <p class="user_data_field_value">{{user.firstname}}</p>
            </div>
            <div class="user_data_field">
                <label class="user_data_field_label">Apellido</label>
                <p class="user_data_field_value">{{user.lastname}}</p>
            </div>
            <div class="user_data_field">
                <label class="user_data_field_label">Email</label>
                <p class="user_data_field_value">{{user.email}}</p>
            </div>
            <div class="user_data_field">
                <label class="user_data_field_label">Teléfono</label>
                <p class="user_data_field_value">{{user.cellphoneNumber}}</p>
            </div>
            <div class="primary_button_container">
                <button class="primary_button" (click)="editData()" >Editar</button>
            </div>
        }
        @else {
            <p>Su sesion ha expirado, por favor vuelve a iniciar sesion</p>
        }
        
    </section>
</main>

@if(editPopUpWasOpen) {
    <app-user-update-pop-up [element_id]="' '" 
        (close)="closePopUp('editPopUpWasOpen')" 
        (UpdateSuccesfullyEmmitter)="this.updateUserState()"
    ></app-user-update-pop-up>
}