@import "styles.scss";

.carousel_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    touch-action: pan-y; /* Esto permite el desplazamiento vertical en móviles */

}

:host ::ng-deep {
    


    p-carousel.p-element{
        width: min(100% , 1440px); 
    }
    .p-carousel-container{
        height: fit-content;
    }
    ol,
    ul {
        padding: 0;
    }

    // Arrow icons Container
    .p-carousel .p-carousel-content .p-carousel-prev,
    .p-carousel .p-carousel-content .p-carousel-next {
        // color: red;
        width: 5%;
        padding: 0 1rem;
        background-color: $background;

        @include tablet {
            padding: 0 2rem;
        }
    }


    // Arrow icons
    .carousel-prev-icon {
        width: 60px;
        height: 160px;
        color: $primary-main;
        transition: color 0.3s ease;


    }


    .carousel-prev-icon:hover {
        color: $primary-l1;
    }
    
    .p-carousel-indicators {
        margin-top: 0.5rem;
        display: flex;
        width: 100%;

        @include tablet {
            margin-top: 1.5rem;
        }
    }

    //// bottom circles 
    .p-link {
        border-radius: 50px;
        width: 8px;
        margin: 0 0.2rem;
    }

    // bottom circles selected
    .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background-color: $primary-main;
    }
}

