<section class="admin_side_panel_content">
    <mat-accordion>
        <!-- Categories -->
        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Categorías
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="options_list">
                <li [routerLink]="['category']">Ver categorías</li>
                <li [routerLink]="['category/new']">Crear categoría</li>
            </ul>
        </mat-expansion-panel>

        <!-- Products -->
        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Productos
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="options_list">

                <li [routerLink]="['products']">Ver productos</li>
                <li [routerLink]="['products/new']">Crear producto</li>
                <li [routerLink]="['products/enable']">Mostrar / Ocultar</li>
                <li [routerLink]="['products/pendings']">Aprobar pendientes</li>
                <mat-expansion-panel class="category_toggle build_your_pc_filters" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>Filtros arma tu pc</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="options_list">
                        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Generación
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="options_list">
                                <li [routerLink]="['generations']">Ver generaciones</li>
                                <li [routerLink]="['generations/new']">Crear generación</li>
                            </ul>
                        </mat-expansion-panel>

                        <!-- Sockets -->
                        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Sockets
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="options_list">
                                <li [routerLink]="['sockets']">Ver sockets</li>
                                <li [routerLink]="['sockets/new']">Crear socket</li>
                            </ul>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Tipo de memoria
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="options_list">
                                <li [routerLink]="['memory-types']">Ver tipos de memoria</li>
                                <li [routerLink]="['memory-types/new']">Crear tipo de memoria</li>
                            </ul>
                        </mat-expansion-panel>
                    </ul>
                </mat-expansion-panel>
                <!-- Generacion, socket y tipo de memoria -->
            </ul>
        </mat-expansion-panel>



        <!-- Accounts -->
        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cuentas
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="options_list">
                <li [routerLink]="['accounts']">Ver cuentas</li>
                <li [routerLink]="['accounts/new']">Crear cuenta</li>
            </ul>
        </mat-expansion-panel>


        <!-- Views -->
        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Banners
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="options_list">
                <li [routerLink]="['banners']">Ver Todos</li>
            </ul> 
        </mat-expansion-panel>



        <!-- Usd -->
        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cotizaciones
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="options_list">
                <li [routerLink]="['usd']">Ver cotizaciones</li>
                <li [routerLink]="['usd/new']">Nueva cotización</li>
            </ul>
        </mat-expansion-panel>



        <!-- Billing -->
        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Facturación
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="options_list">
                <!-- <li [routerLink]="['billing']">Ver compras</li> -->
                <li>En desarrollo</li>
            </ul>
        </mat-expansion-panel>


        <!--  -->

        <!-- Reports -->
        <mat-expansion-panel class="category_toggle" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Estadísticas
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="options_list">
                <!-- <li>Crear Producto</li>
                <li>Ver Todos</li> -->
                <li>En desarrollo</li>
            </ul>
        </mat-expansion-panel>



    </mat-accordion>
</section>