<main class="home_container container">
    <div logo_container>
        <figure class="logo">
            <img src="assets/images/logos/Sector7LogoLarge.png" alt="logo">
        </figure>
        <h2 class="texto_logo">Todo en tecnología</h2>
    </div>

    <section class="main_banner banner">
        <div>
            
        </div>
    </section>

    <section class="carrousel_section">
        <h2>Destacados</h2>
        <div class="carrousel_divider"></div>
        <app-product-carrousel></app-product-carrousel>
    </section>
    <section class="carrousel_section">
        <h2>Novedades</h2>
        <div class="carrousel_divider"></div>
        <app-product-carrousel></app-product-carrousel>
    </section>

    <section class="technical_service_banner banner">
        <div>

        </div>
    </section>
    <section class="carrousel_section">
        <h2>Productos mas vendidos</h2>
        <div class="carrousel_divider"></div>
        <app-product-carrousel></app-product-carrousel>
    </section>

</main>