<main class="home_container container">
    
    <!-- <div logo_container>
        <figure class="logo">
            <img src="assets/images/logos/Sector7LogoLarge.png" alt="logo">
        </figure>
        <h2 class="texto_logo">Todo en tecnología</h2>
    </div> -->
    
    <section style="width: 90%; margin-bottom: 6rem;">
        <app-giant-carousel [category]="'home-primary'"></app-giant-carousel>
    </section>
    
    <section class="carrousel_section">
        <h2>Destacados</h2>
        <div class="carrousel_divider"></div>
        <app-product-carrousel></app-product-carrousel>
    </section>
    <section class="carrousel_section">
        <h2>Novedades</h2>
        <div class="carrousel_divider"></div>
        <app-product-carrousel ></app-product-carrousel>
    </section>

    <section style="width: 90%; margin-bottom: 6rem;">
        <app-giant-carousel [category]="'home-secondary'"></app-giant-carousel>
    </section>
    
    <section class="carrousel_section">
        <h2>Productos mas vendidos</h2>
        <div class="carrousel_divider"></div>
        <app-product-carrousel></app-product-carrousel>
    </section>
    
</main>
<app-footer></app-footer>